<apex:page controller="TRHC.FullApplicationController" docType="html-5.0"
        showHeader="false" sideBar="false" standardStylesheets="false"
        action="{!init}" cache="false" language="{!selectLanguage}">

<style>
    <apex:outputText value="{!cmsCssCustom}" />
</style>

<apex:form >
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>{!$Label.ThankYou}</h2>
            
            <apex:image url="{!$Resource.TRHC__ApplicationCompletion}" styleClass="img-responsive center-block" />
            
            <h4>{!$Label.Application_submission_received}</h4>
        </div>
    </div>
</apex:form>

<script>
    parent.autoResizeIframe(document);
</script>

<apex:stylesheet value="{!URLFOR($Resource.TRHC__Bootstrap, 'bootstrap-3.3.6-dist/css/bootstrap.min.css')}" />

</apex:page>