<apex:page showHeader="true" sidebar="false" controller="DashboardPageControllerNew" docType="html-5.0">
  <head>
    <!-- <apex:includeScript value="{!URLFOR($Resource.Tablesorter, '/jquery-latest.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Tablesorter, '/jquery.tablesorter.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Tablesorter, 'themes/blue/style.css')}"/> -->
 
    <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js"/>
    <apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"/>
    <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css"/>
   

  </head>
    <apex:stylesheet value="{!URLFOR($Resource.SLDS100, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <apex:form id="theForm" >
        <div class="slds">
            <apex:pageBlock mode="maindetail" id="parentBlock" >
                <apex:pageBlock mode="maindetail"  rendered="{!IF(placList != NULL && placList.size > 0, TRUE, FALSE)}">
                    <apex:outputPanel id="hotjobpanel">
                        <table id="hotjobtable"   cellpadding="0" cellspacing="0"  class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped tablesorter" >
                            <THEAD> 
                                <tr class="slds-text-title_caps" >
                                    <th style="width: 60px;height: 25px; font-size: 15px;" styleClass="slds-form-element__label" scope="row">Placement Title</th>
                                    <th style="width: 37px;font-size: 15px;" styleClass="slds-form-element__label" scope="row">Candiadte Name</th> 
                                    <th style="width: 37px;font-size: 15px;" styleClass="slds-form-element__label" scope="row">Recruiter</th> 
                                    <th style="width: 37px;font-size: 15px;" styleClass="slds-form-element__label" scope="row">Client Manager</th> 
                                    <th style="width: 37px;font-size: 15px;" styleClass="slds-form-element__label" scope="row">Compliance Coordinator</th>
                                    <th style="width: 37px;font-size: 15px;" styleClass="slds-form-element__label" scope="row">GPH</th>
                                    <!-- <th style="width: 37px;font-size: 15px;" styleClass="slds-form-element__label" scope="row">Candidate</th> -->
                                    <th style="width: 37px;font-size: 15px;" styleClass="slds-form-element__label" scope="row">Extension</th>
                                </tr>
                            </THEAD>
                            <TBODY>
                                <apex:repeat value="{!placList}" var="place">
                                    <tr>    
                                        <td class="score">
                                            <!-- <apex:outputText style="width: 60px;height: 25px; font-size: 15px;" styleClass="slds-form-element__label" value=""/> -->
                                             <apex:outputLink style="width: 60px;height: 25px; font-size: 15px;" target="_blank" value="/{!place.id}" >  {!place.name} </apex:outputLink>
                                        </td>      
                                        <td class="score">
                                           <apex:outputText style="width: 60px;height: 25px; font-size: 15px;" styleClass="slds-form-element__label" value="{!place.TRHC__Contact_Candidate__r.name}"/>
                                        </td>                  
                                        <td class="score">
                                           <apex:outputText style="width: 60px;height: 25px; font-size: 15px;" styleClass="slds-form-element__label" value="{!place.TRHC__Recruiter__r.Name}"/>
                                        </td>
                                        <td class="score">
                                           <apex:outputText style="width: 60px;height: 25px; font-size: 15px;" styleClass="slds-form-element__label" value="{!place.TRHC__Account_Manager__r.Name}"/>
                                        </td>
                                        <td class="score">
                                           <apex:outputText style="width: 60px;height: 25px; font-size: 15px;" styleClass="slds-form-element__label" value="{!place.Compliance_Coordinator__r.Name}"/>
                                        </td>
                                        <td class="score">
                                           <apex:outputText style="width: 60px;height: 25px; font-size: 15px;" styleClass="slds-form-element__label" value="{!place.GPH__c}"/>
                                        </td>
                                        <td class="score">
                                            <apex:outputText style="width: 60px;height: 25px; font-size: 15px;" styleClass="slds-form-element__label" value="{!place.TRHC__Extension__c}"/>
                                        </td> 
                                    </tr>          
                                </apex:repeat>
                            </TBODY>
                        </table>
                    </apex:outputPanel>
                </apex:pageBlock>
            <apex:pageBlock mode="maindetail" title="No Placement is Available" rendered="{!IF(placList.size == 0,true,false)}"/>
            </apex:pageBlock>
        </div>  
    </apex:form>
    </html>
    <script>
        j$ = jQuery.noConflict();
        j$(document).ready( function () {
            var hotjobtable = j$('[id$="hotjobtable"]').DataTable({
              });
        });
    </script>
</apex:page>