<apex:page controller="CandidateUpdateInformationController" action="{!UpdateRecord}" sidebar="false" showHeader="false">
    <apex:form style="padding-top:50px">
        <apex:pageMessages />
    </apex:form>
</apex:page>