<apex:page controller="CreateScratchSheetAndCalcGPHController" showHeader="false" sidebar="false">
   <apex:form >
        <apex:includeScript value="{!URLFOR($Resource.jQuery)}"/>
            <apex:actionFunction name="createScratchSheet" action="{!insertScratchsheet}"  rerender="msgpnl" oncomplete="callCalculateGPH(); "/>
            <apex:actionFunction name="calcGPH" action="{!calcGPH}" rerender="msgpnl" />
            <apex:actionFunction name="getGseService" action="{!insertGsaSerValue}" rerender="msgpnl" />
            
            <div id="congaLoading" style="display:none;">
                <div style="z-index: 1000; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: black; opacity: 0.25"/>
                <div style="z-index: 1001; vertical-align: middle;position: fixed;top: 50%;left: 45%;padding: 1em;margin: -2em -10em;width: 48em;height: 39px;
                            background: white; border-radius: 5px;">
                    <img src="/img/loading32.gif" style="vertical-align: middle; padding-right: 1em" />
                    <apex:outputpanel id="msgpnl">
                        <!--<span style="font-size: 24px;"> 
                        Please wait while a ${!IF(billPayRate == true,15,17)} GPH is being calculated. </span> -->
                        <span style="font-size: 22px;"> 
                            Please wait while a ${!IF(billRate == null,0.00,IF(billRate > 80,18.00,IF(billRate >= 60 && billRate <= 80,17.00,IF(billRate < 60,15.00,0.00))))} GPH is being calculated.<br/>
                           <!--  Please wait while a ${!IF(billRate > 80,18.00,IF(billRate >= 60 && billRate <= 80,17.00,IF(billRate < 60,15.00,0.00)))} GPH is being calculated.<br/> -->
                        </span>
                    </apex:outputpanel>
                </div>
            </div>
    </apex:form>
    
    <script>
        $(document).ready(function(){
            createScratchSheet();
            $('#congaLoading').show();
                setTimeout(function() {
                getGseService();
            },10000);
            return false;
        });
        
        function callCalculateGPH() {
            $('#congaLoading').show();
            setTimeout(function() {
                calcGPH();
                $('#congaLoading').show();
            },10000);
        }

    </script>
</apex:page>