<apex:page standardController="Contact" extensions="GenerateWorkOrderController" action="{!latestPlacement}">
    <apex:form >
        <apex:inputHidden value="{!Contact.Id}"/>
        <apex:pageMessages />
        <apex:commandButton value="Back" action="{!returnContact}" style="margin-left:2%"/>
    </apex:form>
</apex:page>