<apex:page controller="HospitalsWithNoJobsController">
<apex:form >
    <apex:outputLink onclick="window.open('HospitalsWithNoJobsPDF')" style="padding-left:800px;padding-top:40px;padding:buttom:40px;">Account PDF</apex:outputLink>
     <!--<apex:pageBlockSectionItem dataStyle="float-left">
        <a href="/apex/HospitalsWithNoJobsPDF">Accounts PDF</a>
        </apex:pageBlockSectionItem>-->
    
<apex:pageBlock title="Accounts With No Jobs" id="acc_list">
  <apex:pageBlockTable value="{!NoJobAccounts}" var="acc">
   
	<apex:column >
        <a href = "/{!acc.id}">{!acc.Name}</a>
	  <apex:facet name="header">
		<apex:commandLink action="{!sortByAccName}"
			reRender="acc_list">Account Name
		</apex:commandLink>
	  </apex:facet>
	</apex:column>
	<apex:column value="{!acc.VMS__c}">
	 <apex:facet name="header">
	   <apex:commandLink action="{!sortByVMS}"
			reRender="acc_list">VMS
	   </apex:commandLink>
	 </apex:facet>
	</apex:column>
  </apex:pageBlockTable>
</apex:pageBlock>
</apex:form>
</apex:page>