<apex:page controller="MultiJobCompareController"
        standardstylesheets="false" showHeader="false" sideBar="false" cache="false" 
        action="{!SelectedJobs}" >        
<style>
    <apex:outputText value="{!cmsCssCustom}" />
    .btn{
    margin-left:0!important;
    }
    .col-sm-12.text-center {
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 15px;
    margin-bottom: 20px;
   }
</style>
<div class="container-fluid">
<div class="row">

        <apex:form styleclass="form-horizontal">
        <div class="col-md-12">
                    <div class="text-center">
                        <apex:commandButton value="{!$Label.Search_for_More_Jobs}" 
                                onclick="doRedirect(top.location, { page:'Job Search' }); return false;" 
                                styleClass="btn btn-lg btn-primary btn-AS" />
                    </div>
            </div>
            <br/><br/>
        <apex:repeat value="{!selectedJobList}" var="job1">
            <div>
                <h2>{!job1.TRHC__Job_Title__c}</h2> 
            </div>
            
           <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Job_ID" class="col-sm-3 control-label">{!$Label.TRHC__Job_Id}</label>
                        <div class="col-sm-9">
                            <apex:inputText value="{!job1.Name}" styleClass="form-control" id="Job_ID" html-readonly="true"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Job_Title__c" class="col-sm-3 control-label">Job Title</label>
                        <div class="col-sm-9">
                            <apex:inputText value="{!job1.TRHC__Job_Title__c}" styleClass="form-control" id="Job_Title__c" html-readonly="true"/>
                        </div>
                    </div>  
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Job_Discipline__c" class="col-sm-3 control-label">{!$Label.TRHC__License}</label>
                        <div class="col-sm-9">
                            <apex:inputText value="{!job1.TRHC__Discipline__c}" styleClass="form-control" id="Job_Discipline__c" html-readonly="true"/>
                        </div>
                    </div>  
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Job_Specialty__c" class="col-sm-3 control-label">{!$Label.TRHC__Specialty}</label>
                        <div class="col-sm-9">
                            <apex:inputText value="{!job1.TRHC__Specialty__c}" styleClass="form-control" id="Job_Specialty__c" html-readonly="true"/>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="TRHC__Job_City__c" class="col-sm-3 control-label">{!$Label.TRHC__City}</label>
                        <div class="col-sm-9">
                            <apex:inputText value="{!job1.TRHC__Job_City__c}" styleClass="form-control" id="Job_City__c" html-readonly="true"/>
                        </div>
                    </div>  
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="TRHC__Job_State__c" class="col-sm-3 control-label">{!$Label.TRHC__State}</label>
                        <div class="col-sm-9">
                            <apex:inputText value="{!job1.TRHC__State__c}" styleClass="form-control" id="Job_State__c" html-readonly="true"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="TRHC__Job_Description__c" class="col-sm-3 control-label">{!$Label.TRHC__Description}</label>
                        <div class="col-sm-9">
                            <apex:outputText value="{!job1.TRHC__Job_Description__c}" styleClass="form-control description-style" id="Job_Description__c" html-readonly="true"/>
                        </div>
                    </div>  
                </div>
                <!--<div class="col-md-6">
                    <div class="form-group">
                        <label for="TRHC__Job_Category__c" class="col-sm-3 control-label">{!$Label.TRHC__Category}</label>
                        <div class="col-sm-9">
                            <apex:inputText value="{!job1.TRHC__Job_Category__c}" styleClass="form-control" id="Job_Category__c" html-readonly="true"/>
                        </div>
                    </div>
                </div>!-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="job_Shift_Type2__c" class="col-sm-3 control-label" style="">Shift Type:</label>
                        <div class="col-sm-9">
                            <apex:outputText value="{!job1.Shift_Type2__c}" id="job_Shift_Type2__c" styleClass="form-control"  html-readonly="true"/>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="col-md-12">
                    <!--<div class="col-sm-12 text-center" >
                        <apex:outputLink value="/apex/TRHC__CMSLayout" 
                                    styleClass="jobTitleList btn btn-primary" target="_parent">
                                <apex:param name="jobIds" value="{!job1.Id}"/>
                                <apex:param name="page" value="{!IF(contact.Id == '', 'CreateAccount', 'PersonalInformation')}" />
                                <apex:param name="sessionId" value="{!$CurrentPage.parameters.sessionId}" />
                                <apex:param name="jobSite" value="{!$CurrentPage.parameters.jobSite}" />
                                <apex:param name="p" value="{!$CurrentPage.parameters.p}" />
                        {!$Label.trhc__apply_now}
                        </apex:outputLink>
                    </div>-->
                    
            </div>
            </apex:repeat>
            <div class="col-md-12">
                    <div class="text-center" style="margin-top:40px">
                        <apex:commandButton value="Search for More Jobs" 
                                onclick="doRedirect(top.location, { page:'Job Search' }); return false;" 
                                styleClass="btn btn-lg btn-primary btn-AS" />
                    </div>
            </div>
        </apex:form>


</div>
    </div>

<script>
    parent.autoResizeIframe(document);
</script> 

<apex:includeScript value="{!URLFOR($Resource.TRHC__Bootstrap, 'bootstrap-3.3.6-dist/js/bootstrap.min.js')}"/>
<apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"/>

<apex:includeScript value="{!URLFOR($Resource.TRHC__doRedirect)}" />

<apex:stylesheet value="{!URLFOR($Resource.TRHC__Bootstrap, 'bootstrap-3.3.6-dist/css/bootstrap.min.css')}" />
</apex:page>