<apex:page controller="TRHC.FullApplicationController" title="{!$Label.trhc__job_application_page}"
        showHeader="false" sideBar="false" standardStylesheets="true"
        action="{!init}" cache="false" language="{!selectLanguage}">
<!--
How to use date picker extend
lowerLimit    : Number by which you need to make year start. Accept 100 max
higherLimit   : Number by which you need to make year end. Accept 100 max
startYear     : Year by which you need to make start year.If given lowerLimit/higherLimit ignored. Must be less than endYear. Difference between startYear/endYear must not exceed 300.
endYear       : Year by which you need to make end year.If given lowerLimit/higherLimit ignored. Must be greater than startYear. Difference between startYear/endYear must not exceed 300.
-->

<c:DatePickerExtend lowerLimit="50" higherLimit="15"/>

<head>
    <meta name="keywords" content="{!metaKeywords}"/>
</head>

<script>
    if ('{!nextPageUrl}'.trim()) {
        top.location = '{!nextPageUrl}';
    }
    
    // jQuery workarounds to make it work.
    var j$ = jQuery.noConflict();
    function fixId(myid) {
        return '#' + myid.replace(new RegExp("(:|\\.)", "g"), '\\\$1');
    }
    
    function test(isChecked,state) {
        var ischeck = document.getElementById('j_id0:j_id33:contact_TRHC__Been_convicted_had_Criminal__c')
        if(state == 'Massachusetts' || state == 'Hawaii' || state == 'Pennsylvania'){
            document.getElementById('j_id0:j_id36:txtn').innerText = 'N/A';
        }
    }
</script>

<style>
    <apex:outputText value="{!cmsCssCustom}" />
    .nav-tabs.nav-justified {
        width: 99.3% !important;
        border-bottom: 0;
    }
</style>

<apex:outputPanel layout="block" styleClass="container-fluid" rendered="{!ISNULL(nextPageUrl)}">
    <div class="row">
        <div class="col-md-12">
            <apex:pageMessages />
            <script>
                j$('.infoM3').addClass('alert alert-success');
                j$('.errorM3').addClass('alert alert-danger');
            </script>
            
            <div id="errors-alert" class="alert alert-danger" style="display:none">
                <h4>Required fields:</h4>
                <ul>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <apex:form styleclass="form-horizontal"> 
            <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified">
                <li><a href="#" onclick="doRedirect(top.location, { page:'PersonalInformation' }); return false;">General ( 1 a )</a></li>
                <li class="active"><a href="#">Additional Information ( 1 b )</a></li>
                <li><a href="#" onclick="doRedirect(top.location, { page:'PeerReferences' }); return false;">Supervisor References and Emergency Contacts ( 1 c )</a></li>
            </ul>
            <div>
                <h2>{!$label.TRHC__Additional_Information}</h2> 
                <h5>(*<span class="required-color">Required fields</span>)</h5>
            </div>   
            </div>
            
            <div class="col-md-12 placeholders-div">
                <div class="form-group">
                    <label for="contact_Verification_of_legal_work_in_U_S__c" class="col-sm-6 control-label"><span class="required">*</span>{!$label.TRHC__Verification_of_legal_work_in_U_S}</label>
                    <div class="col-sm-6 fontcss">
                    <!-- <apex:inputField value="{!contact.TRHC__Verification_of_legal_work_in_U_S__c}" styleClass="form-control" id="contact_Verification_of_legal_work_in_U_S__c" /> -->
                    <apex:selectRadio value="{!contact.TRHC__Verification_of_legal_work_in_U_S__c}" required="true" styleClass="pull-right">
                    <apex:selectOptions value="{!YesNo}" />
                    </apex:selectRadio>
                    </div>
                </div> 
        </div>
        
        <div class="col-md-12">
                <div class="form-group">
                    <label for="contact_Been_convicted_had_Criminal" class="col-sm-6 control-label"><span class="required">*</span>{!$label.TRHC__Been_convicted_had_Criminal}</label>
                    <div class="col-sm-6 fontcss">
                    <apex:selectRadio value="{!contact.TRHC__Been_convicted_had_Criminal__c}" styleClass="pull-right" onclick="test('{!contact.TRHC__Been_convicted_had_Criminal__c}','{!contact.State_pic__c}')" required="True">
                    <apex:selectOptions value="{!YesNo}" />
                    </apex:selectRadio>
                    </div> 
                </div> 
        </div>
        
        <div class="col-md-12">
                <div class="form-group">
                <i class="hint-size">
                    <label for="contact_Specialty__c" class="col-sm-12 control-label">If YES, please explain on the space provided. Do not answer this question if you live in the following states: MA,HI,PA</label>
                </i>
                </div>   
        </div> 
        
        <div class="col-md-12">
                <div class="form-group">
                    <label for="contact_Specialty__c" class="col-sm-6 control-label">{!$label.TRHC__Explanation_of_Conviction}:</label>
                    <div class="col-sm-6" >
                        <apex:outputPanel rendered="{!(ISBLANK(contact.State_pic__c)) || ((!CONTAINS(contact.State_pic__c, 'Pennsylvania'))&& (!CONTAINS(contact.State_pic__c, 'Massachusetts')) && (!CONTAINS(contact.State_pic__c, 'Hawaii')))}">
                        <apex:inputField value="{!contact.TRHC__Been_convicted_had_Criminal_Explanation__c}" styleClass="form-control" id="contact_Been_convicted_had_Criminal_Explanation__c" />                                
                       </apex:outputPanel>
                        <apex:outputPanel rendered="{!(CONTAINS(contact.State_pic__c, 'Pennsylvania')) || (CONTAINS(contact.State_pic__c, 'Massachusetts')) || (CONTAINS(contact.State_pic__c, 'Hawaii'))}">
                        <apex:inputField value="{!contact.TRHC__Been_convicted_had_Criminal_Explanation__c}" styleClass="form-control" id="txtn"/>                                
                       </apex:outputPanel>
                        <!--<apex:inputField value="{!contact.TRHC__Been_convicted_had_Criminal_Explanation__c}" styleClass="form-control" id="contact_Been_convicted_had_Criminal_Explanation__c" />  -->                              
                        </div>
                </div>     
        </div>
        
        <div class="col-md-12">
            <div class="form-group">
                    <label for="contact_Email" class="col-sm-6 control-label">{!$label.TRHC__Physical_and_mental_ability}</label>
                    <div class="col-sm-6 fontcss">
                    <apex:selectRadio value="{!contact.TRHC__Physical_and_mental_ability__c}" styleClass="pull-right">
                    <apex:selectOptions value="{!YesNo}" />
                    </apex:selectRadio>
                    </div>
                </div>  
        
        </div>
        
        <div class="col-md-12">
                <div class="form-group">
                    <label for="contact_Permanent_State_Province__c" class="col-sm-6 control-label">{!$label.TRHC__Experience_in_acute_care}</label>
                    <div class="col-sm-6 fontcss">
                    <apex:selectRadio value="{!contact.TRHC__Experience_in_acute_care__c}" styleClass="pull-right">
                                                <apex:selectOptions value="{!YesNo}" />
                                            </apex:selectRadio>
                    </div>
                </div>  
        
        </div>
        
        <!--<div class="col-md-12">
                <div class="form-group">
                    <label for="contact_Permanent_Phone__c" class="col-sm-6 control-label">{!$label.TRHC__Like_to_be_considered_for_a_US_Nursing}</label>
                    <div class="col-sm-6 fontcss">
                    <apex:selectRadio value="{!contact.TRHC__Like_to_be_considered_for_a_U_S_Nursing__c}" styleClass="pull-right">
                                                <apex:selectOptions value="{!YesNo}" />
                                            </apex:selectRadio>
                    </div>
                </div>  
        </div>-->
            
        <div class="placeholders-div col-md-12">
            <h3>{!$label.TRHC__Work_Preferences}</h3>
        </div>
        
        <div class="col-md-12">
                <div class="form-group">
                    <label for="Date_available_for_work" class="col-sm-6 control-label"><span class="required">*</span>{!$label.TRHC__Date_available_for_work}</label>
                    <div class="col-sm-6">
                    <apex:inputField value="{!contact.TRHC__Available_To_Start__c}" styleClass="form-control" id="Date_available_for_work" />
                    </div>
                </div>  
        </div>
        
        <div class="col-md-12">
                <div class="form-group">
                    <label for="Preferred_Locations__c" class="col-sm-6 control-label"><!--<span class="required">*</span>-->{!$label.TRHC__Preferred_Locations}</label>
                    <div class="col-sm-6">
                    <apex:inputField value="{!contact.TRHC__Preferred_Locations__c}" styleClass="multipick" id="Preferred_Locations__c" />
                    </div>
                </div> 
        </div>
        
        <div class="col-md-12">
                <div class="form-group">
                    <label for="Preferred_Shifts__c" class="col-sm-6 control-label">{!$label.TRHC__Preferred_Shifts}</label>
                    <div class="col-sm-6">
                    <apex:inputField value="{!contact.TRHC__Shift_Preference__c}" styleClass="multipick" id="Preferred_Shifts__c" />
                    </div>
                </div> 
        </div>
        
        
        
        <div class="col-md-12">
                <div class="form-group">
                    <label for="Are_you_Employed__c" class="col-sm-6 control-label">{!$label.TRHC__Are_you_emplyed}</label>
                    <div class="col-sm-6 fontcss">
                    <apex:selectRadio value="{!contact.TRHC__Are_you_Employed__c}" styleClass="pull-right">
                                                <apex:selectOptions value="{!YesNoCheckbox}" />
                                            </apex:selectRadio>
                    </div>
                </div>  
        </div>
        <div class="col-md-12">
                <div class="form-group">
                    <label for="May_we_contact_your_employer__c" class="col-sm-6 control-label">{!$label.TRHC__May_we_contact_your_employer}</label>
                    <div class="col-sm-6 fontcss">
                    <apex:selectRadio value="{!contact.TRHC__May_we_contact_your_employer__c}" styleClass="pull-right">
                                                <apex:selectOptions value="{!YesNoCheckbox}" />
                                            </apex:selectRadio>
                    </div>
                </div>  
        </div>
        
        <div class="col-sm-12">
            <div class="form-group">
                <label for="licenseWasDenied" class="col-sm-10 control-label"><span class="required">*</span>{!$label.TRHC__license_or_certifications_suspended}</label>
                <div class="col-sm-2">
                    <div class="pull-right fontcss">
                        <apex:selectRadio value="{!contact.TRHC__License_Was_Denied__c}" required="true" styleClass="pull-right">
                            <apex:selectOptions value="{!YesNo}" />
                        </apex:selectRadio>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="data.contact.TRHC__License_Was_Denied__c == 'Yes'">
                <label for="yesLicenseWasDenied" class="col-sm-3 control-label">&nbsp;&nbsp;{!$label.TRHC__If_YES_please_explain}:</label>
                <div class="col-sm-9">
                    <apex:inputField value="{!contact.TRHC__License_Was_Denied_Explanation__c}" styleClass="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="document" class="col-sm-10 control-label"><span class="required">*</span>{!$label.TRHC__named_as_defendant}</label>
                <div class="col-sm-2">
                    <div class="pull-right fontcss">
                        <apex:selectRadio value="{!contact.TRHC__Named_Defendant__c}" required="true" styleClass="pull-right">
                            <apex:selectOptions value="{!YesNo}" />
                        </apex:selectRadio>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="data.contact.TRHC__Named_Defendant__c == 'Yes'">
                <label for="yesNamedDefendant" class="col-sm-3 control-label">&nbsp;&nbsp;{!$label.TRHC__If_YES_please_explain}:</label>
                <div class="col-sm-9">
                    <apex:inputField value="{!contact.TRHC__Named_Defendant_Explanation__c}" styleClass="form-control" />
                </div>
            </div>
        </div>
        
        
            <div class="col-md-12">
                <div class="form-group text-center">
                    <apex:commandButton value="{!$Label.trhc__save_and_next}" styleClass="btn btn-primary" 
                            onclick="window.scrollTo(0, 0);parent.scrollTo(0, 0);" action="{!saveAdditionalInformation}" />
                </div>  
            </div> 
        </apex:form>
    </div> 
</apex:outputPanel>

<script>
    parent.autoResizeIframe(document);
</script>

<apex:includeScript value="{!URLFOR($Resource.TRHC__Jquerymin)}" />
<apex:includeScript value="{!URLFOR($Resource.TRHC__doRedirect)}" />

<apex:stylesheet value="{!URLFOR($Resource.TRHC__Bootstrap, 'bootstrap-3.3.6-dist/css/bootstrap.min.css')}" />
    
</apex:page>