<apex:page controller="TRHC.ESignatureController" docType="html-5.0"
        showHeader="false" sideBar="false" standardStylesheets="true"
        action="{!init}" cache="false" language="{!selectLanguage}" id="page">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
    if ('{!nextPageUrl}'.trim()) {
        top.location = '{!nextPageUrl}';
    }
    
    // jQuery workarounds to make it work.
    var j$ = jQuery.noConflict();
    function fixId(myid) {
        return '#' + myid.replace(new RegExp("(:|\\.)", "g"), '\\\$1');
    }
    j$(function(){ 
window.top.$(".sidebar-left").find(".navbar-fixed-top").append('<iframe class="cover" src="about:blank" frameborder="0" scrolling="no" style="border: currentColor; border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position:absolute; z-index:-2;background: transparent;"></iframe>');

    })
</script>

<style>
    <apex:outputText value="{!cmsCssCustom}" />
    .message .messageText span:after {
            content: 'Required Fields';
            font-size: large;
            font-weight: bold;
        }
        
        .message .messageText h4 {
            font-weight: bold;
            display: none !important;
        }
        

.ie-fix {
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: 0;
} 

    .cover {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index:-1;
    }

#pdf {
    position: relative;
    z-index:-1;
    background: transparent!important;


}
    
</style>

<apex:outputPanel layout="block" styleClass="container-fluid esign" rendered="{!ISNULL(nextPageUrl)}">
    <div class="row">
        <apex:pageMessages />
        <script>
            j$('.infoM3').addClass('alert alert-success');
            j$('.errorM3').addClass('alert alert-danger');
        </script>
    </div>
    
    <div class="row"> 
        <apex:form id="form">
        <div>
         <!-- <ul class="nav nav-tabs nav-justified">
                    <li> <a href="#" onclick="doRedirect(top.location, { page:'PersonalInformation' }); return false;">Personal Information</a></li>
                    <li><a href="#" onclick="doRedirect(top.location, { page:'Certifications' }); return false;"> Certification</a></li>
                    <li><a href="#" onclick="doRedirect(top.location, { page:'EducationHistory' }); return false;">Education History</a></li>
                    <li><a href="#" onclick="doRedirect(top.location, { page:'EmploymentHistory' }); return false;">Employment History</a></li>
                    <li><a href="#" onclick="doRedirect(top.location, { page:'ProfessionalReferences' }); return false;">Professional Ref</a></li>
                    <li class="active"><a href="#">E-Signature</a></li>
             </ul> -->
            <div><h2>E-Signature</h2></div>
        
        </div>
        <br/> <br/>
        
            <div class="text-center">
                By Clicking on the "I Agree" button, I attest that I have electronically signed this application.<br />
                <apex:commandButton value="{!$Label.trhc__i_agree}" styleClass="btn btn-primary" onclick="window.scrollTo(0, 0);parent.scrollTo(0, 0);" action="{!agree}"/>
            </div>
        <br/><br/>
        
        <apex:iframe rendered="true" src="/servlet/servlet.FileDownload?file={!EsignatureDocument}"  scrolling="true" id="pdf"/>
        
            
    <!--<apex:iframe rendered="true" frameborder="false" src="http://docs.google.com/gview?url={!$Site.CurrentSiteUrl}/servlet/servlet.FileDownload?file={!EsignatureDocument}&embedded=true" scrolling="true" id="iframe"/> -->
        
    
        </apex:form> 
    </div>
</apex:outputPanel>

<script>
    parent.autoResizeIframe(document);
</script>

<apex:includeScript value="{!URLFOR($Resource.TRHC__Jquerymin)}" />
<apex:includeScript value="{!URLFOR($Resource.TRHC__Bootstrap, 'bootstrap-3.3.6-dist/js/bootstrap.min.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.TRHC__Bootstrap, 'bootstrap-3.3.6-dist/css/bootstrap.min.css')}" />
<apex:includeScript value="{!URLFOR($Resource.TRHC__doRedirect)}" />
</apex:page>