<apex:page controller="ObjectFieldSelect"> 
 	<apex:form >
     	<apex:pageBlock >
      		<apex:pageBlockSection title="Choose The Object From Here" >
       		<apex:pageBlockSectionItem >
        	<apex:selectList size="1" value="{!selectedObject}" id="myPicklist"   >
         		<apex:selectOptions value="{!nameOfObjects}" />
         		<apex:actionsupport event="onchange" reRender="fieldList" action="{!showField}" /> 
        	</apex:selectList>
       		</apex:pageBlockSectionItem>
      	</apex:pageBlockSection>  
     	</apex:pageBlock>     
     	
    </apex:form>    
</apex:page>