<apex:page controller="TRHC.FullApplicationController"
        showHeader="false" sideBar="false" standardStylesheets="true"
        action="{!init}" cache="false" docType="html-5.0" language="{!selectLanguage}">
     

<head>
    <meta name="keywords" content="{!metaKeywords}"/>
</head>

<script>
    if ('{!nextPageUrl}'.trim()) {
        top.location = '{!nextPageUrl}';
    }
    
    // jQuery workarounds to make it work.
    var j$ = jQuery.noConflict();
    j$(function() {
    
        j$("[id$='contact_Permanent_Zip_Postal_Code__c']").keyup(function () { 
        this.value = this.value.replace(/[^0-9\.]/g,'');
        });
        j$("[id$='contact_Phone__c']").keyup(function () { 
        this.value = this.value.replace(/[^0-9\.]/g,'');
        });
    });
    function fixId(myid) {
        return '#' + myid.replace(new RegExp("(:|\\.)", "g"), '\\\$1');
    }
</script>
   <!--
How to use date picker extend
lowerLimit    : Number by which you need to make year start. Accept 100 max
higherLimit   : Number by which you need to make year end. Accept 100 max
startYear     : Year by which you need to make start year.If given lowerLimit/higherLimit ignored. Must be less than endYear. Difference between startYear/endYear must not exceed 300.
endYear       : Year by which you need to make end year.If given lowerLimit/higherLimit ignored. Must be greater than startYear. Difference between startYear/endYear must not exceed 300.
-->
<c:DatePickerExtend lowerLimit="50" higherLimit="15"/>
<style>
    <apex:outputText value="{!cmsCssCustom}" />
    img{
    display:inline!important;
    padding:0!important;
    height:15px!important;
    }
   .picklistArrowRight{
    background: transparent url(/img/alohaSkin/combobox_arrows_sprite.gif) no-repeat ! important;
    width: 26px ! important;
    height: 22px ! important;
    margin: 0 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
    .picklistArrowLeft {
    background: transparent url(/img/alohaSkin/combobox_arrows_sprite.gif) no-repeat 0px -60px ! important;
    width: 26px ! important;
    height: 22px ! important;
    margin: 0 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#j_id0\:j_id39\:contact_TRHC__Shift_Preference__c_left_arrow,#j_id0\:j_id39\:contact_TRHC__Shift_Preference__c_right_arrow{
min-height:0px!important;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 667px) and (min-device-width: 375px)
{
    td.multiSelectPicklistCell {
        width: 48%!important;
        text-align: center;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 568px) and (min-device-width: 320px){
    td.multiSelectPicklistCell {
        width: 48%!important;
        text-align: center;
    }
}
</style>

<apex:outputPanel layout="block" styleClass="container-fluid" rendered="{!ISNULL(nextPageUrl)}">
    <div class="row" style="margin-right:1px">
        <div class="col-md-12 no-padding">
            <apex:pageMessages />
            <script>
                j$('.infoM3').addClass('alert alert-success');
                j$('.errorM3').addClass('alert alert-danger');
            </script>
            
            <div id="errors-alert" class="alert alert-danger" style="display:none">
                <h4>{!$Label.TRHC__Required_fields}:</h4>
                <ul>
                    
                </ul>
            </div>
        </div>
    </div>
    
    <apex:outputPanel layout="block" styleClass="row" style="margin-right:1px" rendered="{!jobApplyingForList.size > 0}">
        <div class="col-md-12 no-padding">
            <div class="form-group">
                <div class="col-sm-3 no-padding apply-job-label">
                    <h3 class="no-margin-top margin-bottom-PI-CUS">{!$Label.trhc__you_are_applying_for_double_dot}</h3>
                </div>
                <div class="col-sm-9 padding-top-ajl">
                    <apex:repeat value="{!jobApplyingForList}" var="job" > 
                        <div class="row">
                            <a href="#" class="job-title-font" onclick="doRedirect(top.location, { page:'JobDetailPageNew', jobIds:'{!job.Id}'}); return false;">
                                {!job.TRHC__Job_Title__c}
                            </a>
                        </div>
                    </apex:repeat> 
                </div>
            </div>
        </div>
    </apex:outputPanel>
    
    <div class="row" style="margin-right:1px">
        <apex:form styleClass="form-horizontal">
            <div class="col-md-12 no-padding">
            
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#">General ( 1 a )</a></li>
                    <li><a href="#" onclick="doRedirect(top.location, { page:'AdditionalInformation' }); return false;">Additional Information ( 1 b )</a></li>
                    <li><a href="#" onclick="doRedirect(top.location, { page:'PeerReferences' }); return false;">Emergency Contact ( 1 c )</a></li>
                </ul>
                <div class="col-md-4 no-padding custom-width-Heading">
                    <h2 class="no-margin-PInfo">{!$Label.TRHC__Personal_Information}</h2>
                </div>
                <div class="col-md-8 no-padding">
                    <h5>(*<span class="required-color">{!$Label.TRHC__Required_fields}</span>)</h5> 
                </div>
            </div>
            
            <div class="col-md-12 placeholders-div no-padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_FirstName__c" class="col-sm-3 control-label"><span class="required-color">*</span>{!$Label.TRHC__First_Name}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.FirstName}" styleClass="form-control" id="contact_FirstName__c" required="true" />
                        </div>
                    </div>  
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Middle_Name__c" class="col-sm-3 control-label"><span class="required-color">*</span>Middle Name:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.TRHC__Middle_Name__c}" styleClass="form-control" id="contact_Middle_Name__c" html-placeholder="If you do not have middle name put N/A or X" required="true" />
                        </div>
                    </div>  
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_LastName" class="col-sm-3 control-label"><span class="required-color">*</span>{!$Label.TRHC__Last_Name}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.LastName}" styleClass="form-control" id="contact_LastName__c" required="true" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Gender" class="col-sm-3 control-label"><span class="required-color">*</span>Gender:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.TRHC__Gender__c}" styleClass="form-control" id="contact_Gender__c" required="true" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Discipline__c" class="col-sm-3 control-label"><span class="required-color">*</span>{!$Label.TRHC__Discipline}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.Discipline1__c}" styleClass="form-control" id="contact_Discipline__c" required="true" />
                        </div>
                    </div>  
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Phone" class="col-sm-3 control-label"><span class="required-color">*</span>{!$Label.TRHC__Mobile_Phone}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.Phone}" styleClass="form-control" id="contact_Phone__c" required="true" />
                        </div>
                    </div>   
                </div>
            </div>
            
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Specialty__c" class="col-sm-3 control-label"><span class="required-color">*</span>Primary Speciality :</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.Primary_Speciality1__c}" id="contact_Specialty__c" styleClass="form-control" required="true"  html-class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Email" class="col-sm-3 control-label"><span class="required-color">*</span>{!$Label.TRHC__Email}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.Email}" styleClass="form-control" id="contact_Email__c" required="true" />
                        </div>
                    </div>      
                </div>
            </div>
            
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Secondary_Speciality__c" class="col-sm-3 control-label">Secondary Speciality :</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.Secondary_Speciality__c}" id="contact_Secondary_Speciality__c" styleClass="form-control" html-class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Permanent_Phone__c" class="col-sm-3 control-label">{!$Label.TRHC__Home_Phone}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.HomePhone}" styleClass="form-control" id="contact_Permanent_Phone__c" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_TRHC__Shift_Preference__c" class="col-sm-3 control-label">Shift Preferences :</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.TRHC__Shift_Preference__c}" id="contact_TRHC__Shift_Preference__c" styleClass="form-control" html-class="form-control"/>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-12 no-padding">
                <div class="form-group">
                    <div class="col-sm-3 custom-width">
                        <label for="TRHC__Referred_Candidate__c" class="col-sm-12 control-label"><span class="required-color">*</span>{!$Label.TRHC__Were_you_referred_to_us}</label>
                    </div>
                    <div class="col-sm-6 fontcss">
                        <apex:selectRadio value="{!contact.TRHC__Referred_Candidate__c}" id="contact_Referred_Candidate__c" required="true">
                            <apex:selectOptions value="{!YesNoCheckbox}" />
                        </apex:selectRadio>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 no-padding">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="TRHC__Referral_Source__c" class="col-sm-12 control-label">{!$Label.TRHC__Referred_by}:</label>
                    </div>
                    <div class="col-sm-6">
                        <apex:inputField value="{!contact.TRHC__Referral_Source__c}" id="contact_Referral_Source__c" styleClass="form-control input-cus-PI" />
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 no-padding">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="TRHC__Referring_Recruiter" class="col-sm-12 control-label">{!$Label.TRHC__Interacted_Recruiter}:</label>
                    </div>
                    <div class="col-sm-6">
                        <apex:inputField value="{!contact.Recruiters__c}" id="contact_Recruiters__c" styleClass="form-control input-cus-PI" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_SSN_Text__c" class="col-sm-3 control-label"><span class="required-color">*</span>SSN :</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.SSN_Text__c}" id="SSN_Text__c" styleClass="form-control" required="true"  html-class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Birthdate" class="col-sm-3 control-label"><span class="required-color">*</span>DOB:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.Birthdate}" styleClass="form-control" id="contact_Birthdate__c" required="true" />
                        </div>
                    </div>      
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>{!$label.TRHC__Permanent_Address}</h4>
                </div>
            </div>
            
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Permanant_Address__c" class="col-sm-3 control-label"><span class="required-color">*</span>{!$label.TRHC__Address_field_label}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.Permanant_Address__c}" styleClass="form-control" id="contact_Permanant_Address__c" required="true" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Permanent_City__c" class="col-sm-3 control-label"><span class="required-color">*</span>{!$Label.TRHC__City}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.TRHC__Permanent_City__c}" styleClass="form-control" id="contact_Permanent_City__c" required="true" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_State_pic__c" class="col-sm-3 control-label"><span class="required-color">*</span>State:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.State_pic__c}" styleClass="form-control" id="contact_State_pic__c" required="true" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Permanent_Zip_Postal_Code__c" class="col-sm-3 control-label"><span class="required-color">*</span>{!$label.TRHC__Zip_Postal_Code}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.TRHC__Permanent_Zip_Postal_Code__c}" styleClass="form-control" id="contact_Permanent_Zip_Postal_Code__c" required="true" />
                        </div>
                    </div>
                </div>
            </div>
            
            <!--<div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_Permanent_Phone__c" class="col-sm-3 control-label">*{!$Label.TRHC__Home_Phone}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.HomePhone}" styleClass="form-control" id="contact_Permanent_Phone__c" required="true" />
                        </div>
                    </div>
                </div>
            </div> -->
            
            <div class="row">
                <div class="col-md-12">
                    <h4>{!$label.TRHC__Current_Address}</h4>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Temporary_Address_1__c" class="col-sm-3 control-label">{!$label.TRHC__Address_field_label}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.Temporary_Address_1__c}" styleClass="form-control" id="Temporary_Address_1__c" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <!--<label for="contact_MailingCity" class="col-sm-3 control-label">{!$Label.TRHC__City}:</label> -->
                        <!--<div class="col-sm-9">
                            <apex:inputField value="{!contact.MailingCity}" styleClass="form-control" id="contact_MailingCity__c" />
                        </div>-->
                        
                        <label for="contact_MailingCity" class="col-sm-3 control-label">{!$Label.TRHC__City}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.TRHC__Temporary_City__c}" styleClass="form-control" id="TRHC__Temporary_City__c" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 no-padding">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contact_State_pic__c" class="col-sm-3 control-label">State:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.temporary_state__c}" styleClass="form-control" id="contact_State_pic__c1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <label for="contact_MailingPostalCode" class="col-sm-3 control-label">{!$label.TRHC__Zip_Postal_Code}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.MailingPostalCode}" styleClass="form-control" id="contact_MailingPostalCode__c" />
                        </div> -->
                        <label for="contact_MailingPostalCode" class="col-sm-3 control-label">{!$label.TRHC__Zip_Postal_Code}:</label>
                        <div class="col-sm-9">
                            <apex:inputField value="{!contact.TRHC__Temporary_Zip_Postal_Code__c }" styleClass="form-control" id="TRHC__Temporary_Zip_Postal_Code__c" />
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 no-padding">
                <div class="form-group text-center">
                    <script>
                        function checkFields() {
                
                            var obj= j$("[id$='contact_Referred_Candidate__c']").find("input[type=radio]:checked").val().trim();
                        
                        
                            var errors = [];
                            if (!j$("[id$='contact_FirstName__c']").val().trim()) {
                                errors.push('First Name is required.');
                            }
                            if (!j$("[id$='contact_LastName__c']").val().trim()) {
                                errors.push('Last Name is required.');
                            }
                            if (!j$("[id$='contact_Gender__c']").val().trim()) {
                                errors.push('Last Name is required.');
                            }
                            if (!j$("[id$='contact_Discipline__c']").val().trim()) {
                                errors.push('Discipline is required.');
                            }
                            if (!j$("[id$='contact_Phone__c']").val().trim()) {
                                errors.push('Mobile Phone is required.');
                            }
                            if (!j$("[id$='contact_Specialty__c']").val().trim()) {
                                errors.push('Specialty is required.');
                            }
                            if (!j$("[id$='contact_Email__c']").val().trim()) {
                                errors.push('Email is required.');
                            }
                            if (!j$("[id$='contact_Referred_Candidate__c']").find("input[type=radio]:checked").val().trim()) {
                                errors.push('Were you referred to us? is required.');
                            }
                            if (!j$("[id$='contact_Permanent_City__c']").val().trim()) {
                                errors.push('Permanent City is required.');
                            }
                            if (!j$("[id$='contact_Permanent_State_Province__c']").val().trim()) {
                                errors.push('Permanent State/Province is required.');
                            }
                            if (!j$("[id$='contact_Permanent_Zip_Postal_Code__c']").val().trim()) {
                                errors.push('Permanent Zip/Postal Code is required.');
                            }
                            if(obj=='true'){
                            
                                if (!j$("[id$='contact_Referral_Source__c']").val().trim()) {
                                errors.push('Name of the person who referred you is required.');
                                }
                                if (!j$("[id$='contact_Referring_Recruiter__c']").val().trim()) {
                                errors.push('If you have spoken to our Recruiter, please choose the name of the recruiter is required.'); 
                                }
                            }
                            
                            
                            if (errors.length > 0) {
                                var $ul = j$('#errors-alert').show().find('ul').empty();
                                errors.forEach(function (elem) {
                                    $ul.append('<li>' + elem + '</li>');
                                });
                                return false;
                            } else {
                                j$('#errors-alert').hide();
                            }
                        }
                    </script>
                    <apex:commandButton value="{!$Label.trhc__save_and_next}" styleClass="btn btn-primary"
                            onclick="window.scrollTo(0, 0);parent.scrollTo(0, 0);return checkFields();" action="{!savePersonalInformation}" />
                </div>
            </div>
        </apex:form>
    </div> 
</apex:outputPanel>

<script>
    parent.autoResizeIframe(document);
</script>
<apex:includeScript value="{!URLFOR($Resource.TRHC__Jquerymin)}" />
<apex:includeScript value="{!URLFOR($Resource.TRHC__Bootstrap, 'bootstrap-3.3.6-dist/js/bootstrap.min.js')}"/>

<apex:includeScript value="{!URLFOR($Resource.TRHC__doRedirect)}" />

<apex:stylesheet value="{!URLFOR($Resource.TRHC__Bootstrap, 'bootstrap-3.3.6-dist/css/bootstrap.min.css')}" />

</apex:page>