<apex:page Controller="ResumeTemplateController" sidebar="false" action="{!getEmployeedetails}">
<head>
    <apex:includeLightning />
    <apex:slds />
    <div class="slds-page-header">
        <div class = "slds-grid slds-wrap">
            <div class = "slds-size_1-of-3"  style = "">
                <apex:image value="/resource/1515851764000/Logo1" style="max-height:100px"/> 
            </div>
            <div class = "slds-size_2-of-3" style = "font-size:18px;text-align-center;">
                <div>
                </div>
                <div>
                    candidate Profile
                </div>
                <div>
                    {!con.FirstName} {!con.LastName}
                </div>
            </div> 
        </div>
    </div>
</head>
<style>
    .tableForm{
    width:100%;
    margin-top:3%;
    }
    
    body {
    font-family: Calibri !important;
    }
</style>
<body class="slds-scope">
    <div class = "slds-grid slds-wrap">
        <apex:form title="Candidate Information" id="candiInfo">
            <apex:pageBlock title="">
                <apex:pageMessages />
                <apex:pageBlockButtons location="bottom">
                    <apex:commandButton value="Update Candidate Information" action="{!updateCureentCandidate}" reRender="candiInfo,candidateCoverage"/>
                </apex:pageBlockButtons>
                <table>
                    <tr>
                        <td>Speciality</td>
                        <td><apex:inputField value="{!con.Primary_Speciality1__c}"/></td>
                    </tr>
                    <tr>
                        <td>primary Specility</td>
                        <td><apex:inputField value="{!con.Primary_Speciality1__c}"/></td>
                    </tr>
                    <tr>
                        <td>Experience</td>
                        <td><apex:inputField value="{!con.TRHC__Primary_Specialty_Years_Of_Experience__c}"/></td>
                    </tr>
                    <tr>
                        <td>MobilePhone</td>
                        <td><apex:inputField value="{!con.MobilePhone}"/></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><apex:inputField value="{!con.Email}"/></td>
                    </tr>
                    <tr>
                        <td>Availability To Interview</td>
                        <td><apex:inputField value="{!con.TRHC__Availability_To_Interview__c}"/></td>
                    </tr>
                    <tr>
                        <td>Available To Start</td>
                        <td><apex:inputField value="{!con.TRHC__Available_To_Start__c}"/></td>
                    </tr>
                    <tr>
                        <td>Shift Preference</td>
                        <td><apex:inputField value="{!con.TRHC__Shift_Preference__c}"/></td>
                    </tr>
                    <tr>
                        <td>Certifications</td>
                        <td><apex:inputField value="{!con.TRHC__Certifications__c}"/></td>
                    </tr>
                    <tr>
                        <td>Computer Charting</td>
                        <td><apex:inputField value="{!con.EMR__c}"/></td>
                    </tr>
                    <tr>
                        <td>Active Professional License states</td>
                        <td><apex:inputField value="{!con.TRHC__Professional_license_in_any_state_Expl__c}"/></td>
                    </tr>
                    <tr>
                        <td>Skills Summary:</td>
                        <td><apex:inputField value="{!con.Skills_list__c}"/></td>
                    </tr>
                     <tr>
                        <td>Time Off Request:</td>
                        <td><apex:inputField value="{!con.Time_Of_Request__c}"/></td>
                    </tr>
                </table>
            </apex:pageBlock>
        </apex:form>
        
        <apex:form styleclass="tableForm">
            <apex:pageBlock title="Employment Information" id="empForm">
                <apex:pageMessages />
                <apex:pageBlockButtons location="bottom">
                    <apex:commandButton value="Update Employment Histories" action="{!updateEmployeeRecord}" reRender="empForm"/>
                    <apex:commandButton value="Add" action="{!createNewEmployment}" reRender="empForm"/>
                </apex:pageBlockButtons>
                
                <apex:pageBlockTable value="{!employementHistories}" var="opp" style="padding-left:10px;">
                    <apex:column headerValue="Start Date">
                        <apex:inputField value="{!opp.TRHC__SDate__c}"/>
                    </apex:column>
                    <apex:column headerValue="End Date">
                        <apex:inputField value="{!opp.TRHC__EDate__c}"/>
                    </apex:column>
                    <apex:column headerValue="Hospital Name">
                        <apex:inputField value="{!opp.TRHC__EmployerOrgName__c}"/>
                    </apex:column>
                    <apex:column headerValue="Speciality">
                        <apex:inputField value="{!opp.TRHC__Unit_Speciality__c}"/>
                    </apex:column>
                    
                    <apex:column headerValue="Facility Size">
                        <apex:inputField value="{!opp.Facility_size__c}"/>
                    </apex:column>
                    <apex:column headerValue="Patient ratio">
                        <apex:inputField value="{!opp.Patient_ratio__c}"/>
                    </apex:column> 
                    <apex:column headerValue="Trauma Level">
                        <apex:inputField value="{!opp.Trauma_level__c}"/>
                    </apex:column>
                    
                    <apex:column headerValue="City">
                        <apex:inputField value="{!opp.TRHC__City__c}"/>
                    </apex:column> 
                    <apex:column headerValue="State">
                        <apex:inputField value="{!opp.State__c}"/>
                    </apex:column> 
                    <apex:column headerValue="Position">
                        <apex:inputField value="{!opp.TRHC__Position_Title__c}"/>
                    </apex:column> 
                    <apex:column headerValue="Charting">
                        <apex:inputField value="{!opp.Charting__c}"/>
                    </apex:column>
                    <apex:column headerValue="Employment Description">
                        <apex:inputField value="{!opp.TRHC__Description__c}"/>
                    </apex:column>
                    <apex:column headerValue="Remove">
                    <apex:commandLink action="{!removeEmpHist}" value="Ignore" id="theCommandLink" reRender="empForm">
                        <apex:param value="{!opp.id}" name="EmpId" />
                     </apex:commandLink>
                    </apex:column> 
                </apex:pageBlockTable>      
            </apex:pageBlock>
        </apex:form> 
        
        <apex:form styleclass="tableForm">
            <apex:pageBlock title="Education Information" id="eduForm">
                <apex:pageMessages />
                <apex:pageBlockButtons location="bottom">
                    <apex:commandButton value="Update Education Histories" action="{!updateEducationRecord}" reRender="eduForm"/>
                    <apex:commandButton value="Add" action="{!createNewEducation}" reRender="eduForm"/>
                </apex:pageBlockButtons>
                <apex:variable value="0" var="num"/>
                <apex:pageBlockTable value="{!educationHistories}" var="EdHist" columns="7">
                    <!--<apex:column value="{!EdHist.TRHC__StartDate__c} - {!EdHist.TRHC__EndDate__c}" headerValue="Title"/>-->
                    <apex:column rendered="{!EdHist.Degree_new__c=='OTHER'}">
                        <apex:inputField value="{!EdHist.TRHC__DegreeName__c}" html-placeholder="Other Degree"/>
                    </apex:column>
                    <apex:column headerValue="Degree" rendered="{!EdHist.Degree_new__c!='OTHER'}">
                        <apex:actionRegion >
                        <apex:inputField value="{!EdHist.Degree_new__c}">
                        <apex:actionSupport event="onchange" reRender="eduForm" />
                        </apex:inputField>
                        </apex:actionRegion>
                    </apex:column>
                    <apex:column headerValue="School Name">
                        <apex:inputField value="{!EdHist.TRHC__SchoolName__c}" />
                    </apex:column>
                    <apex:column headerValue="City">
                        <apex:inputField value="{!EdHist.TRHC__City__c}" />
                    </apex:column> 
                    <apex:column headerValue="State">
                        <apex:inputField value="{!EdHist.State__c}" />
                    </apex:column> 
                    <apex:column headerValue="Graduated Date">
                        <apex:inputField value="{!EdHist.TRHC__GradDate__c}" />
                    </apex:column> 
                    <!--<apex:column headerValue="Degree">
                        <apex:inputField value="{!EdHist.Degree_new__c}" />
                    </apex:column>-->
                    
                    <!--<apex:column headerValue="Education Comments">
                        <apex:inputField value="{!EdHist.Education_Comments__c}" />
                    </apex:column>-->
                    <apex:column headerValue="Remove">
                    <apex:commandLink action="{!removeEduHist}" value="Ignore" reRender="eduForm">
                        <apex:param value="{!num}" name="EduId" />
                        <apex:variable var="num" value="{!VALUE(num) + 1}"/>
                     </apex:commandLink>
                    </apex:column>                        
                </apex:pageBlockTable>      
            </apex:pageBlock>
        </apex:form> 
        
        <apex:form styleclass="tableForm" >
            <apex:pageBlock title="Certifications Information" id="credCerts">
                <apex:pageMessages />
                <apex:pageBlockButtons location="bottom">
                    <apex:commandButton value="Update Certs" action="{!updateCertsRecord}" reRender="credcertFrom,credLicenses" />
                    <apex:commandButton value="Add" action="{!createCertCredential}" rerender="credLicenses,credCerts"/>
                </apex:pageBlockButtons>
                <apex:variable value="0" var="num1"/>
                <apex:pageBlockTable value="{!certCreds}" var="cred" columns="4" id="credcertFrom">
                    <!--<apex:column headerValue="Cred Id" value="{!cred.Name}"/>-->
                    <apex:column rendered="{!cred.Credentials__c=='OTHER'}">
                        <apex:inputField value="{!cred.Other_Name__c}" html-placeholder="Other Name"/>
                    </apex:column>
                    <apex:column headerValue="Credentials List" rendered="{!cred.Credentials__c!='OTHER'}">
                        <apex:actionRegion >
                        <apex:inputField value="{!cred.Credentials__c}">
                        <apex:actionSupport event="onchange" reRender="credCerts" />
                        </apex:inputField>
                        </apex:actionRegion>
                    </apex:column>
                    <apex:column headerValue="Expiration Date">
                        <apex:inputField value="{!cred.TRHC__Expiration_Date__c}" />
                    </apex:column>
                    <apex:column headerValue="Remove">
                    <apex:commandLink action="{!removeCertsRecord}" value="Ignore" reRender="credCerts">
                        <apex:param value="{!num1}" name="CertId" />
                        <apex:variable var="num1" value="{!VALUE(num1) + 1}"/>
                     </apex:commandLink>
                     </apex:column>
                    <!--<apex:column headerValue="Credential Pack Name">
                        <apex:inputField value="{!cred.TRHC__Credential_Pack_Name__c}" />
                    </apex:column>
                    <apex:column headerValue="Verified ?">
                        <apex:inputField value="{!cred.Verified__c}" />
                    </apex:column>
                    <apex:column headerValue="No Of Days Till Expiration">
                        <apex:inputField value="{!cred.No_Of_Days_Till_Expiration__c}" />
                    </apex:column>-->
                      
                </apex:pageBlockTable>      
            </apex:pageBlock>
        </apex:form>
        <apex:form styleclass="tableForm">
            <apex:pageBlock title="Licenses Information" id="credLicenses">
                <apex:pageMessages />
                <apex:pageBlockButtons location="bottom">
                    <apex:commandButton value="Update Licences" action="{!updateLicensesRecord}" rerender="credLicenses,credCerts"/>
                    <apex:commandButton value="Add" action="{!createLicenseCredential}" rerender="credLicenses,credCerts"/>
                </apex:pageBlockButtons>
                <apex:variable value="0" var="num2"/>
                <apex:pageBlockTable value="{!licenseCreds}" var="cred" columns="5">
                    <!--<apex:column headerValue="Cred Id" value="{!cred.Name}"/>
                    <apex:column headerValue="Credential Master Name">
                        <apex:inputField value="{!cred.TRHC__Credential_Master_Name__c}" />
                    </apex:column>-->
                    <apex:column headerValue="State License">
                        <apex:inputField value="{!cred.State_abbreviation__c}" />
                    </apex:column>
                    <apex:column headerValue="Expiration Date">
                        <apex:inputField value="{!cred.TRHC__Expiration_Date__c}" />
                    </apex:column>
                    <!--<apex:column headerValue="Credential Pack Name">
                        <apex:inputField value="{!cred.TRHC__Credential_Pack_Name__c}" />
                    </apex:column>-->
                    <apex:column headerValue="License Number">
                        <apex:inputField value="{!cred.License_Number__c}" />
                    </apex:column>
                    <!--<apex:column headerValue="Verified ?">
                        <apex:inputField value="{!cred.Verified__c}" />
                    </apex:column>-->
                    <apex:column headerValue="Compact?">
                        <apex:inputField value="{!cred.Compact__c}" />
                    </apex:column>
                    <apex:column headerValue="Remove">
                    <apex:commandLink action="{!removeLicensesRecord}" value="Ignore" reRender="credLicenses">
                        <apex:param value="{!num2}" name="LicId" />
                        <apex:variable var="num2" value="{!VALUE(num2) + 1}"/>
                     </apex:commandLink>
                     </apex:column>
                    <!--<apex:column headerValue="No Of Days Till Expiration">
                        <apex:inputField value="{!cred.No_Of_Days_Till_Expiration__c}" />
                    </apex:column>--> 
                </apex:pageBlockTable>      
            </apex:pageBlock>
        </apex:form>
        <apex:form id="candidateCoverage">
            <apex:pageMessages />
            <div align="center" draggable="false">
                <apex:commandButton action="{!generateCandidateCoverage}" value="Cover Page" style="float:centre"/>   
            </div>
        </apex:form>
    </div>
</body>
</apex:page>