<apex:page applyBodyTag="false" applyHtmlTag="true" showHeader="true" sidebar="true" standardStylesheets="false" Controller="sendEmailController" action="{!init}">


    <head>
        <title></title>
        
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css' />

        <link rel="stylesheet" href="{!URLFOR($Resource.MailTemplate,'/MailTemplate/jquery-ui.css')}" />
        
        <script src="{!URLFOR($Resource.MailTemplate,'/MailTemplate/jquery.min.js')}"></script>
        <script src="{!URLFOR($Resource.MailTemplate,'/MailTemplate/jquery-ui.min.js')}"></script>
        <script type="text/javascript" src="{!URLFOR($Resource.MailTemplate,'/MailTemplate/jquery-te-1.4.0.min.js')}" charset="utf-8"></script>

        <script src="{!URLFOR($Resource.MailTemplate,'/MailTemplate/inputosaurus.js')}"></script>
        <apex:includescript value="{!URLFOR($Resource.NewEmailEditor,'/emailEditorCK/ckeditor/ckeditor.js')}" />
        <!-- DSST_12139 START-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <!-- DSST_12139 END-->
        <style>
            .container {
                background-color: #fff;
                margin: 0 auto;
                padding: 10px;
                border: solid 1px #ccc;
                overflow: hidden;
            }
            .mail_container {
                width: auto;
                background-color: #f3f3f3;
                margin: 3px 10px 0 0;
                padding: 10px;
                width: 98.5%;
            }
            .compose-header {
                background-color: #06bcea;
                padding: 3px 5px;
                line-height: 22px;
                color: #fff;
                border-radius: 3px 3px 0 0;
                -moz- border-radius: 3px 3px 0 0;
                -webkit- border-radius: 3px 3px 0 0;
                overflow: hidden;
            }
            .fl {
                float: left;
            }
            .fr {
                float: right;
            }
            .pointer {
                cursor: pointer;
            }
            .row {
                position: relative;
                clear: both;
            }
            .label_wrap {
                width: 8%;
                margin-right: 5px;
                float: left;
            }
            .field_wrap {
                width: 90%;
                float: left;
            }
            .label_wrap,
            .field_wrap {
                margin-bottom: 10px;
            }
            .bg-container {
                background: #fff;
                padding: 3px;
                border: solid 1px #ccc;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                overflow: hidden;
                /*width: 80%;*/
            }
            .bg-container input[type="text"] {
                border: none;
                width: 99%;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                height: 34px;
            }
            hr {
                border-top: 1px solid #eee;
                margin: 10px 0;
                height: 0;
                box-sizing: content-box;
                -moz-box-sizing: content-box;
                -webkit-box-sizing: content-box;
                clear: both;
            }
            .clearfix {
                clear: both;
            }
            .btn {
                background: #60ab08;
                border: solid 1px #437904;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                padding: 3px 6px 2px;
                color: #fff;
                cursor: pointer;
            }
            .btn-cancel {
                background: #f6a444;
                border: solid 1px #ce8024;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                padding: 3px 6px 2px;
                color: #fff;
                cursor: pointer;
            }
            .btn-sm {
                padding: 2px 4px 3px;
                font-size: 12px;
            }
            .compose-header-inner {
                background: #cdcecc;
                padding: 3px 5px;
                line-height: 22px;
                color: #333;
                border-radius: 3px 3px 0 0;
                -moz- border-radius: 3px 3px 0 0;
                -webkit- border-radius: 3px 3px 0 0;
                overflow: hidden;
                width:97%;
                float:left;
            }
            h1.compose-header-inner {
                font-size: 13px;
                font-weight: 400;
                margin-top: 0 !important;
                cursor: move;
            }
            .pop_conatiner {
                position: absolute;
                width: 50%;
                background: #f4f4f4;
                border: solid 1px #cdcecc;
                top: 60%;
                left: 10%;
                z-index: 999;
            }
            .pop-inner {
                padding: 5px;
                max-height: 190px;
                overflow: auto;
            }
            .pop-inner .row {
                border-bottom: solid 1px #cdcecc;
                padding: 2px;
                margin-bottom: 2px;
                overflow: hidden;
            }
            .pop-inner input[type="checkbox"],
            .pop-inner input[type="search"] {
                margin: 0 5px 0 0;
            }
            .preview-area {
                border: solid 1px #ddd;
                margin: 3px 0 0;
                padding: 0.5%;
                width: 46%;
                float: right;
                min-height:500px;
            }
            .compose-footer {
                background: #eee;
                padding: 3px 5px;
                line-height: 22px;
                color: #333;
                overflow: hidden;
            }
            input.error {
                border: solid 1px red !important;
                height: 34px;
            }
            .error {
                color: #C00;
            }
            /*---- Text Editor ----*/
            .jqte {
                margin: 0;
                border: #ccc 1px solid;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                box-shadow: 0 0 3px #999;
                -webkit-box-shadow: 0 0 3px #999;
                -moz-box-shadow: 0 0 3px #999;
                overflow: hidden;
                transition: box-shadow 0.4s, border 0.4s;
                -webkit-transition: -webkit-box-shadow 0.4s, border 0.4s;
                -moz-transition: -moz-box-shadow 0.4s, border 0.4s;
                -o-transition: -o-box-shadow 0.4s, border 0.4s;
            }
            .jqte * {
                color: #333;
                font-family: 'Source Sans Pro';
                font-size: 14px;
            }
            .jqte_focused {
                /*border-color:#00AAE7;
                box-shadow:0 0 10px #00BDFF; -webkit-box-shadow:0 0 10px #00BDFF; -moz-box-shadow:0 0 10px #00BDFF;*/
            }
            /* toolbar */
            .jqte_toolbar {
                overflow: auto;
                padding: 3px 0;
                border-bottom: #BBB 1px solid;
            }
            .jqte_tool {
                float: left;
                margin: 0 3px 0 0;
                padding: 0;
                cursor: pointer;
            }
            .jqte_tool,
            .jqte_tool_icon,
            .jqte_tool_label {
                border:
                none;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px
            }
            .jqte_hiddenField {
                display: none
            }
            .jqte_tool_icon {
                display: block;
                width: 22px;
                height: 22px;
                background: url("{!URLFOR($Resource.MailTemplate,'/MailTemplate/jquery-te.png')}") no-repeat
            }
            .jqte_tool.jqte_tool_1 .jqte_tool_label {
                position: relative;
                display: block;
                padding: 3px;
                width: 70px;
                height: 16px;
                overflow: hidden;
            }
            .jqte_tool.jqte_tool_1 .jqte_tool_text {
                color: #000;
                font-weight: 600;
            }
            .jqte_tool.jqte_tool_1 .jqte_tool_icon {
                position: absolute;
                top: 10px;
                right: 2px;
                width: 6px;
                height: 4px;
                background-position: -19px -23px;
                border: none;
                border-radius: none;
                -webkit-border-radius: none;
                -moz-border-radius: none
            }
            .jqte_tool.jqte_tool_2 .jqte_tool_icon {
                background-position: 0 0
            }
            .jqte_tool.jqte_tool_3 .jqte_tool_icon {
                background-position: -22px 0
            }
            .jqte_tool.jqte_tool_4 .jqte_tool_icon {
                background-position: -44px 0
            }
            .jqte_tool.jqte_tool_5 .jqte_tool_icon {
                background-position: -66px 0
            }
            .jqte_tool.jqte_tool_6 .jqte_tool_icon {
                background-position: -88px 0
            }
            .jqte_tool.jqte_tool_7 .jqte_tool_icon {
                background-position: -110px 0
            }
            .jqte_tool.jqte_tool_8 .jqte_tool_icon {
                background-position: -132px 0
            }
            .jqte_tool.jqte_tool_9 .jqte_tool_icon {
                background-position: -154px 0
            }
            .jqte_tool.jqte_tool_10 .jqte_tool_icon {
                background-position: -176px 0
            }
            .jqte_tool.jqte_tool_11 .jqte_tool_icon {
                background-position: -198px 0
            }
            .jqte_tool.jqte_tool_12 .jqte_tool_icon {
                background-position: -220px 0
            }
            .jqte_tool.jqte_tool_13 .jqte_tool_icon {
                background-position: -242px 0
            }
            .jqte_tool.jqte_tool_14 .jqte_tool_icon {
                background-position: -264px 0
            }
            .jqte_tool.jqte_tool_15 .jqte_tool_icon {
                background-position: -286px 0
            }
            .jqte_tool.jqte_tool_16 .jqte_tool_icon {
                background-position: -308px 0
            }
            .jqte_tool.jqte_tool_17 .jqte_tool_icon {
                background-position: -330px 0
            }
            .jqte_tool.jqte_tool_18 .jqte_tool_icon {
                background-position: -352px 0
            }
            .jqte_tool.jqte_tool_19 .jqte_tool_icon {
                background-position: -374px 0
            }
            .jqte_tool.jqte_tool_20 .jqte_tool_icon {
                background-position: -396px 0
            }
            .jqte_tool.jqte_tool_21 .jqte_tool_icon {
                background-position: -418px 0
            }
            .jqte_tool:hover {
                background-color: #FFF;
                border-color: #FFF
            }
            .jqte_tool:hover .jqte_tool_icon,
            .jqte_tool:hover .jqte_tool_label {
                border: none;
            }
            .jqte_tool:active .jqte_tool_icon,
            .jqte_tool:active .jqte_tool_label {
                border: #777 1px solid
            }
            .jqte_tool.jqte_tool_1:hover .jqte_tool_icon,
            .jqte_tool.jqte_tool_1:active .jqte_tool_icon {
                border: none
            }
            .jqte_tool_depressed {
                background-color: #DDD;
                border-color: #CCC
            }
            .jqte_tool_depressed .jqte_tool_icon {
                border-color: #AAA
            }
            .jqte_tool_depressed:hover {
                background-color: #EEE
            }
            /* link form area */
            .jqte_linkform {
                padding: 5px 10px;
                background: #DDD;
                border-bottom: #BBB 1px solid;
            }
            .jqte_linktypeselect {
                position: relative;
                float: left;
                width: 130px;
                background: #EEE;
                cursor: pointer
            }
            .jqte_linktypeselect:Active {
                background: #FFF
            }
            .jqte_linktypeview {
                padding: 3px 5px;
                border: #333 1px solid;
                color: #777;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                outline: none
            }
            .jqte_linktypetext {
                font-size: 12px;
            }
            .jqte_linktypearrow {
                position: absolute;
                bottom: 8px;
                right: 6px;
                width: 7px;
                height: 6px;
                margin: 0 auto;
                background: url(jquery-te.png) -7px -23px no-repeat;
            }
            .jqte_linktypes {
                display: none;
                position: absolute;
                top: 22px;
                left: 1px;
                width: 125px;
                background: #FFF;
                border: #333 1px solid;
                box-shadow: 0 1px 4px #AAA;
                -webkit-box-shadow: 0 1px 4px #AAA;
                -moz-box-shadow: 0 1px 4px #AAA
            }
            .jqte_linktypes a {
                display: block;
                padding: 4px 5px;
                font-size: 12px;
            }
            .jqte_linktypes a:hover {
                background: #DDD
            }
            .jqte_linkinput {
                float: left;
                margin: 0 5px;
                padding: 3px 5px;
                width: 300px;
                background: #EEE;
                border: #333 1px solid;
                color: #777;
                font-size: 12px;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                outline: none;
            }
            .jqte_linkinput:focus,
            .jqte_linkinput:hover {
                background: #FFF;
                border-color: #000;
            }
            .jqte_linkbutton {
                float: left;
                padding: 3px 12px;
                background: #AAA;
                border: #333 1px solid;
                color: #FFF;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                box-shadow: inset 0 1px #EEE;
                -webkit-box-shadow: inset 0 1px #EEE;
                -moz-box-shadow: inset 0 1px #EEE;
            }
            .jqte_linkbutton:hover {
                background: #A1A1A1
            }
            .jqte_linkbutton:active {
                box-shadow: inset 0 1px #CCC;
                -webkit-box-shadow: inset 0 1px #CCC;
                -moz-box-shadow: inset 0 1px #CCC;
                background: #888;
            }
            /* text format menu */
            .jqte_formats {
                display: none;
                position: absolute;
                width: 180px;
                oveflow-x: hidden;
                overflow-y: auto;
                background: #FFF;
                border: #AAA 1px solid;
                box-shadow: 0 0 5px #AAA;
                -webkit-box-shadow: 0 0 5px #AAA;
                -moz-box-shadow: 0 0 5px #AAA;
                z-index: 100;
            }
            .jqte_format {
                display: block;
                padding: 4px 7px;
                font-size: 13px
            }
            .jqte_format:hover {
                background: #DDD
            }
            .jqte_format_1,
            .jqte_format_2,
            .jqte_format_3,
            .jqte_format_4,
            .jqte_format_5,
            .jqte_format_6 {
                font-weight: bold
            }
            .jqte_format_1 {
                font-size: 22px
            }
            .jqte_format_2 {
                font-size: 20px
            }
            .jqte_format_3 {
                font-size: 18px
            }
            .jqte_format_4 {
                font-size: 16px
            }
            .jqte_format_5 {
                font-size: 14px
            }
            .jqte_format_6 {
                font-size: 12px
            }
            .jqte_format_7 {
                font-family: "Courier New", Courier, monospace
            }
            /* font size menu */
            .jqte_fontsizes {
                display: none;
                position: absolute;
                width: 180px;
                height: 198px;
                oveflow-x: hidden;
                overflow-y: auto;
                background: #FFF;
                border: #AAA 1px solid;
                box-shadow: 0 0 5px #AAA;
                -webkit-box-shadow: 0 0 5px #AAA;
                -moz-box-shadow: 0 0 5px #AAA
            }
            .jqte_fontsize {
                display: block;
                padding: 3px 7px;
            }
            .jqte_fontsize:hover {
                background: #DDD
            }
            /* color pallette */
            .jqte_cpalette {
                display: none;
                position: absolute;
                padding: 6px;
                width: 144px;
                background: #FFF;
                border: #AAA 1px solid;
                box-shadow: 0 0 5px #AAA;
                -webkit-box-shadow: 0 0 5px #AAA;
                -moz-box-shadow: 0 0 5px #AAA
            }
            .jqte_color {
                display: block;
                float: left;
                width: 16px;
                height: 16px;
                border: #FFF 1px solid;
            }
            .jqte_color:hover {
                border-color: #000
            }
            .jqte_colorSeperator {
                float: none;
                clear: both;
                height: 7px;
            }
            /* editor area */
            .jqte_editor,
            .jqte_source {
                padding: 10px;
                background: #FFF;
                min-height: 100px;
                max-height: 900px;
                overflow: auto;
                outline: none;
                word-wrap: break-word;
                -ms-word-wrap: break-word;
                resize: vertical
            }
            .jqte_editor div,
            .jqte_editor p {
                margin: 0 0 7px
            }
            .jqte_editor a:link,
            .jqte_editor a:link * {
                color: #0066FF !important;
                text-decoration: underline;
            }
            .jqte_editor blockquote {
                margin-top: 0;
                margin-bottom: 7px
            }
            .jqte_editor img {
                float: left;
                margin: 0 10px 5px 0
            }
            .jqte_editor a[jqte-setlink],
            .jqte_editor a[jqte-setlink] * {
                background: #3297FD !important;
                color: #FFF !important
            }
            .jqte_editor h1,
            .jqte_editor h2,
            .jqte_editor h3,
            .jqte_editor h4,
            .jqte_editor h5,
            .jqte_editor h6,
            .jqte_editor pre {
                display: block;
                margin: 0 0 3px;
            }
            .jqte_editor h1,
            .jqte_editor h1 * {
                font-size: 26px
            }
            .jqte_editor h2,
            .jqte_editor h2 * {
                font-size: 24px
            }
            .jqte_editor h3,
            .jqte_editor h3 * {
                font-size: 22px
            }
            .jqte_editor h4,
            .jqte_editor h4 * {
                font-size: 20px
            }
            .jqte_editor h5,
            .jqte_editor h5 * {
                font-size: 18px
            }
            .jqte_editor h6,
            .jqte_editor h6 * {
                font-size: 15px
            }
            .jqte_editor pre,
            .jqte_editor pre * {
                font-family: "Courier New", Courier, monospace
            }
            /* source area */
            .jqte_source,
            .jqte_source textarea {
                background: #FFF1E8
            }
            .jqte_source textarea {
                margin: 0 !important;
                padding: 0 !important;
                display: block !important;
                width: 100% !important;
                min-height: 100px;
                font-family: Courier, Arial, sans-serif !important;
                font-weight: normal;
                font-size: 15px;
                overflow: hidden !important;
                outline: none;
                resize: none;
            }
            .jqte_source textarea,
            .jqte_source textarea:focus {
                css_shadow: none !important;
                background: none !important;
                border: none !important;
            }
            /* title box */
            .jqte_title {
                display: none;
                position: absolute;
                z-index: 9999;
            }
            .jqte_titleArrow {
                position: relative;
            }
            .jqte_titleArrowIcon {
                width: 7px;
                height: 6px;
                margin: 0 auto;
                background: url(jquery-te.png) 0 -23px no-repeat;
            }
            .jqte_titleText {
                padding: 5px 7px;
                margin-top: 0;
                min-width: 5px;
                min-height: 1px;
                max-width: 400px;
                background: #000;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                word-wrap: break-word;
                -ms-word-wrap: break-word
            }
            .jqte_titleText,
            .jqte_titleText * {
                color: #FFF;
                font-size: 11px
            }
            /* placeholder */
            .jqte_placeholder {
                position: relative;
                display: none;
            }
            .jqte_placeholder_text {
                position: absolute;
                top: 43px;
                left: 10px;
                font-size: 14px;
                color: #CCC;
            }
            .inputosaurus-container {
                background-color: #fff;
                margin: 0 5px 0 0;
                padding: 0 3px;
                display: inline-block;
                cursor: text;
                font-size: 14px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                max-height: 300px;
                overflow: hidden;
                overflow-y: auto;
            }
            .inputosaurus-container li {
                display: block;
                float: left;
                overflow: hidden;
                margin: 2px 2px 0;
                padding: 2px 3px;
                white-space: nowrap;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
                background-color: #e5eff7;
                border: #a9cae4 solid 1px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                color: #5b9bcd;
                -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
                -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
                line-height: 20px;
                cursor: default;
            }
            .inputosaurus-container li.inputosaurus-selected {
                background-color: #bdd6eb;
            }
            .inputosaurus-container li a {
                font-size: 16px;
                color: #5b9bcd;
                padding: 1px;
                text-decoration: none;
                outline: none;
            }
            .inputosaurus-container .inputosaurus-input {
                border: none;
                box-shadow: none;
                background-color: #fff;
                margin-top: 3px;
            }
            .inputosaurus-container .inputosaurus-input input {
                border: none;
                height: 23px;
                font-size: 14px;
                line-height: 20px;
                color: #555;
                margin: 0;
                outline: none;
                padding: 0 0 1px 1px;
                width: 25px;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
            .inputosaurus-container .inputosaurus-input input:hover {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
            .inputosaurus-input-hidden {
                display: none;
            }
            .requiredBlock {
                background-color: #c00;
                position: relative;
                left: -3px;
                width: 3px;
                top: 1px;
                bottom: 1px;
                height: 35px;
                float: left;
            }
            .homeTab .listViewport .subNav .linkBar, .homeTab .mComponent .cHeader, .homeTab .genericTable, .homeTab .bSubBlock, .homeTab .bPageBlock {
                border-top: 0px solid #1797c0;
            }
            .apexp .bPageBlock.apexDefaultPageBlock .pbBody {
                margin: 0;
                margin-top:5px;
            }
            .ui-widget-header {
                border: 1px solid #06bcea;
                background: #06bcea;
                color: #fff;
                font-weight: bold;
            }
            .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
                border: 1px solid #06bcea;
                background: #06bcea;
                font-weight: normal;
                color: #fff;
            }
            .inputosaurus-container li {
                background-color: #f5f5f5;
                border: 1px solid #d9d9d9;
                border-radius: 2px;
                box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
                color: #000;
                cursor: default;
                display: block;
                float: left;
                font-size: 12px;
                line-height: 18px;
                margin: 2px 2px 0;
                overflow: hidden;
                padding: 2px 3px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            
            .cke_contents{
               height : 400px !important;
            }
            
            .btn-hd{
                border-radius: 3px;
                font-weight: bold;
                margin: 1px;
                width: 80px;
                transition: all 0.3s ease-in-out;
                border: 1px solid #fff !important;
                height: 27px !important;
                color: white;
                cursor: pointer;
                background: #06bcea !important;
                padding: 6px 3px !important;
            }
            .btn-edit{
                border-radius: 3px;
                font-weight: bold;
                margin: 1px;
                width: 63px;
                transition: all 0.3s ease-in-out;
                border: 1px solid #fff !important;
                height: 27px !important;
                color: white;
                cursor: pointer;
                background: #06bcea !important;
                padding: 6px 3px !important;
            }
            .modal-dialog {
                width: 600px;
                margin: 30px auto;
                position: relative;
            }
            .modal.in .modal-dialog {
                -webkit-transform: translate(0,0);
                -ms-transform: translate(0,0);
                -o-transform: translate(0,0);
                transform: translate(0,0);
            }
            
            .modal.fade .modal-dialog {
                -webkit-transition: -webkit-transform .3s ease-out;
                -o-transition: -o-transform .3s ease-out;
                transition: transform .3s ease-out;
                -webkit-transform: translate(0,-25%);
                -ms-transform: translate(0,-25%);
                -o-transform: translate(0,-25%);
                transform: translate(0,-25%);
            }
            .modal {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1050;
                display: none;
                overflow: hidden;
                -webkit-overflow-scrolling: touch;
                outline: 0;
            }
            
            .modal-open .modal {
                overflow-x: hidden;
                overflow-y: auto;
            }
            
            .fade.in {
                opacity: 1;
            }
            .modal-content {
                position: relative;
                background-color: #fff;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                border: 1px solid #999;
                border: 1px solid rgba(0,0,0,.2);
                border-radius: 6px;
                outline: 0;
                -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
                box-shadow: 0 3px 9px rgba(0,0,0,.5);
                width: 350px;
            }
            .modal-header {
                padding: 15px;
                border-bottom: 1px solid #e5e5e5;
                /*display: flex;*/
                display: block;
                padding-left: 17px;
            }
            .modal-header .close_btn {
                margin-top: -2px;
            }
            
            button.close_btn {
                -webkit-appearance: none;
                padding: 0;
                cursor: pointer;
                background: 0 0;
                border: 0;
            }
            .close_btn {
                float: right;
                font-size: 21px;
                font-weight: 700;
                line-height: 1;
                color: #000;
                text-shadow: 0 1px 0 #fff;
                filter: alpha(opacity=20);
                opacity: .2;
            }
            
            .modal-body {
                position: relative;
                padding: 15px;
            }
            
            .modal-footer {
                padding: 15px;
                text-align: right;
                border-top: 1px solid #e5e5e5;
            }
            
            modal-header > .modal-title {
                width: 100%;
                font-weight: 600;
            }
            
            .modal-title {
                margin: 0;
                line-height: 1.42857143;
            }
            .modal-footer .btn+.btn {
                margin-bottom: 0;
                margin-left: 5px;
            }
            .name-form{
                padding:3px;
            }
            .name-th{
                width:60px;
            }
                    
        </style>
        <script>
            $( document ).ready(function() {
                $(".btn").removeClass('btn');
                CKEDITOR.config.fullPage = true;
                CKEDITOR.config.allowedContent = true;
            });

            function setbody(){
             try{
             
               alert('called');
               var bodyvalue = $('#hiddenbody').html();
              
               CKEDITOR.instances.tmpbody.insertHtml(bodyvalue);
              }catch(e){
                 alert(e);
              } 
            }
            function refreshbodyJS(){
               CKEDITOR.instances.tmpbody.setData('');
               refreshbody();
            }
            function showLoader(){
                $('#statusLoading').modal('show'); 
            }
            function hideLoader(){
                $('#statusLoading').modal('hide'); 
            }
        </script>
    </head>
    <body>
        <apex:form >
            
            <apex:actionFunction name="Send" action="{!sendEmail}" status="status" reRender="pnlMessage">
                <apex:param assignTo="{!emailBody}" value="" name="emailBody"/>
            </apex:actionFunction>
            <apex:actionFunction name="reloadPage" action="{!reloadPage}" />
            <apex:inputhidden value="{!emailto}" id="toAddress"/>
            <apex:inputhidden value="{!selTemplateId}" id="seltempl"/>
            
            <apex:outputPanel id="hiddenbodypanel">
                <div id="hiddenbody" style="display:none;">
                    {!emailBody}          
                </div>
                
            </apex:outputPanel>

            <apex:outputPanel id="pnlMessage">
                <apex:pageMessages escape="false" ></apex:pageMessages>
                <apex:actionStatus id="status" >
                    <apex:facet name="start">
                        <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 1000; background-color: black;">
                            &nbsp;
                        </div>
                        <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                            <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
                                <img src="/img/loading24.gif" style="float: left; margin: 8px;" />
                                <span  style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
                            </div>
                        </div>
                    </apex:facet>
                </apex:actionStatus>
                <!-- <apex:actionStatus id="status">
                    <apex:facet name="start">
                        <div id="load-status" > 
                            <div class="overlay"></div>
                            <div class="status">
                                <img src="/img/loading24.gif"/>
                                <span>Please wait...</span>
                            </div>
                        </div>
                   </apex:facet>
                </apex:actionStatus>   -->
            </apex:outputPanel>
            <div id="statusLoading" style="display:none;">
                <div style="width: 100%; height:700px; background:#000; opacity: 0.4; top:0px; left:0px; position: fixed; z-index:1000000;"></div>
                <div class="dv_load" style="position:fixed;top:40%;left:50%;z-index:1000000;border-radius: 5px;background: #fff;padding: 5px 10px;">
                    <img src="https://c.cs17.visual.force.com/img/loading24.gif" style="vertical-align:middle;" />
                    <span style="padding-left: 10px;font-weight: bold;">Please wait...</span>
                </div>
            </div>
            <div class="container" style="{!IF(WhatId != null ,'display:block;','display:none;')}">
                <div class="compose-header">
                    <div class="fl" ><b>New Email</b> &nbsp;&nbsp;&nbsp;&nbsp;
                        <apex:outputPanel id="emailtemplatepanel1">
                           <b style="padding-right: 10px;">Select Template:</b><t/>
                            <apex:selectList value="{!selTemplateId}" multiselect="false" size="1" onchange="reloadPage();"> 
                                <apex:selectOptions value="{!templateList}"/>
                            </apex:selectList>
                        </apex:outputPanel>
                    </div>
                    <div style="float:right;margin-right:2%;">
                        <apex:commandButton value="Send" onclick="fill_cc(); return false;" status="status" styleclass="btn-hd"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <apex:commandButton value="Cancel" action="{!cancel}" styleclass="btn-hd"></apex:commandButton>
                    </div>
                </div>
                <!--Compose Header Ends -->
                <div class="clearfix"></div>
                <!--Compose Body Starts -->
                <form id="skmailform" method="post" action="submitted.php" enctype="multipart/form-data">
                    <div class="mail_container fl">
                        <div class="row">
                            <div class="label_wrap"><span class="pop pointer" onclick="show_pop_contact('to_contacts')">To</span>
                            </div>
                            <div class="field_wrap toadrs">
                                <div class="bg-container" >
                                    <div class="requiredBlock"></div>
                                    <input name="to_addresses" type="text" id="sk_to_txt" value="{!emailTo}"/>
                                    <apex:inputTextArea id="toadrs" value="{!emailTo}"  styleClass="commonWithElement" style="display:none;width: 595px !important;height: 56px !important;"/>
                                </div>
                            </div>
                            <div id="to_contacts" class="draggable"></div>
                        </div>
                            <!-- <div class="label_wrap">onclick="show_pop_contact('cc_contacts')"<span class="pop pointer" onclick="show_pop_contact('cc_contacts')"><a onclick="openWindow();">Cc</a></span>
                            </div> -->
                        <div class="row">
                            <div class="label_wrap"><span class="pop pointer" onclick="open_pop_up('cc_contacts');">Cc</span>
                            </div>
                            <div class="field_wrap cc">
                                <!-- <div class="bg-container" style="width: 95% !important">
                                    <input name="cc_addresses" type="text" id="sk_cc_txt" value="{!recruiterCCEmail}"/>
                                    <apex:inputTextArea id="cc" value="{!recruiterCCEmail}"  styleClass="commonWithElement" style="display:none;width: 400px !important;height: 56px !important;"/>
                                </div> -->
                                
                                <div class="bg-container">
                                    
                                    <input name="cc_addresses" type="text" id="sk_cc_txt" value="{!recruiterCCEmail}"/>
                                    <apex:inputTextArea id="cc" value="{!emailCC}"  styleClass="commonWithElement" style="display:none;width: 595px !important;height: 56px !important;"/>
                                    
                                </div>
                            
                            <div id="cc_contacts" class="draggable"></div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="label_wrap"><span class="pop pointer" onclick="open_pop_up('bcc_contacts');">Bcc</span>
                            </div>
                            <div class="field_wrap bcc">
                                <div class="bg-container">
                                    <input name="bcc_addresses" type="text" id="sk_bcc_txt" />
                                    <apex:inputTextArea id="bcc" value="{!emailBCC}"  styleClass="commonWithElement" style="display:none;width: 595px !important;height: 56px !important;"/>                                
                                </div>
                            </div>
                            <div id="bcc_contacts" class="draggable"></div>
                        </div>
                        <apex:outputPanel id="subjectpanel">
                            <div class="row">
                                <div class="label_wrap">Subject</div>
                                <div class="field_wrap">
                                    <div class="bg-container">
                                        <div class="requiredBlock"></div>
                                        <apex:inputText maxlength="255" value="{!emailSubject}"  id="subject" styleClass="commonWithElement"/>
                                    </div>
                                </div>
                            </div>
                        </apex:outputPanel>
                        <div class="row">
                            <div class="label_wrap">Body</div>
                            <div class="field_wrap">
                                 <textarea name="tmpbody" id="tmpbody" cols="25" rows="25" class="ckeditor" >{!emailBody}</textarea>
                             </div>
                        </div>
                        <br/>
                    </div>
                </form>
            </div>
        </apex:form>

        <script>
            
            var timeTakenByConga = 0;
            var sk_cursel_contobj = '';
            
            
            function open_pop_up(eleId){
                var child = window.open('/apex/customLookupForEmail?id=' + eleId, '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400');
                console.log('==> Child: ' + child);
                
            }
            
            var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
            var eventer = window[eventMethod];
            var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
            
            //Listen to message from child window
            eventer(messageEvent,function(e) {
                console.log('parent received message!: ',e.data);
                if(e.data != undefined && e.data.toString().indexOf('Childresponse:') > -1) {
                    
                    
                    var datastr = e.data.substring(e.data.lastIndexOf('::') + 2 , e.data.length);
                    var elmtId = datastr.substring(0, datastr.lastIndexOf(':'));
                    var datavalue = datastr.substring(datastr.lastIndexOf(':') + 1,datastr.length);
                    
                    if(datavalue != ''){
                        var val = '';
                        switch (elmtId) {
                            
                            case 'cc_contacts':
                                val = $("#sk_cc_txt").val() + ',' + datavalue;
                                $("#sk_cc_txt").val(val);
                                $('#sk_cc_txt').inputosaurus('refresh');
                                break;
                            case 'bcc_contacts': 
                                val = $("#sk_bcc_txt").val() + ',' + datavalue;                           
                                $("#sk_bcc_txt").val(val);
                                $('#sk_bcc_txt').inputosaurus('refresh');   
                                break;
                        }
                    }
                }

            },false); 


            function show_pop_contact(cont_id) {
                //alert('cont_id '+cont_id);
                close_pop_contact();
                var skcont = $("#sk_pop_contact").html();
                //alert('skcont '+skcont);
                $("#" + cont_id).html(skcont);
                $("#" + cont_id + '> .pop_conatiner').attr('id', 'sk_cls_pop_contact');
                sk_cursel_contobj = cont_id;
            }

            function close_pop_contact() {
                $("#sk_cls_pop_contact").parent().html('');
            }

            function sk_sel_all(skobj) {
                if (skobj.checked) {
                    $('.skchkbx').each(function() {
                        this.checked = true;
                    });
                }else{
                    $('.skchkbx').each(function() {
                        this.checked = false;
                    });
                }
            }

            function sk_search_filter(skobj) {
                var valThis = $(skobj).val().toLowerCase();
                $('#sk_cls_pop_contact > .pop-inner > .sk_fltr>.fr').each(function() {
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(valThis) == 0) ? $(this).parent().show(): $(this).parent().hide();
                });
            }
            
            function fill_cc(){
                var mails = '';
                var bcc_mails = '';
                var to_mails = '';
                $('.cc .inputosaurus-container li').each(function(){
                    var htm = $(this).html();
                    if(htm.indexOf('<span>') != -1){
                        htm = htm.replace('<span>','');
                        htm = htm.split('</span>');
                        htm = htm[0];
                        if(htm.indexOf('(') != -1){
                            htm = htm.replace(')','');
                            htm = htm.split('(');
                            htm = htm[1];
                        }
                        mails += htm.trim() + ',';
                    }
                });
                
                var vl = $('.cc .ui-autocomplete-input').val();
                if(vl.trim() != ''){
                    mails += vl;
                }                
                
                $('[id$="cc"]').val(mails);                
                
                $('.bcc .inputosaurus-container li').each(function(){
                    var htm = $(this).html();
                    if(htm.indexOf('<span>') != -1){
                        htm = htm.replace('<span>','');
                        htm = htm.split('</span>');
                        htm = htm[0];
                        if(htm.indexOf('(') != -1){
                            htm = htm.replace(')','');
                            htm = htm.split('(');
                            htm = htm[1];
                        }
                        bcc_mails += htm.trim() + ',';
                    }
                });                
                
                var v2 = $('.bcc .ui-autocomplete-input').val();
                if(v2.trim() != ''){
                    bcc_mails += v2;
                }
                $('[id$="bcc"]').val(bcc_mails);
                
                $('.toadrs .inputosaurus-container li').each(function(){
                    var htm = $(this).html();
                    if(htm.indexOf('<span>') != -1){
                        htm = htm.replace('<span>','');
                        htm = htm.split('</span>');
                        htm = htm[0];
                        if(htm.indexOf('(') != -1){
                            htm = htm.replace(')','');
                            htm = htm.split('(');
                            htm = htm[1];
                        }
                        to_mails += htm.trim() + ',';
                    }
                });  
                
                var v3 = $('.toadrs .ui-autocomplete-input').val();
                if(v3.trim() != ''){
                    to_mails += v3;
                }                
                
                $('[id$="toadrs"]').val(to_mails);

                var tbody = CKEDITOR.instances.tmpbody.getData();
                Send(tbody);
            }
            
            function sk_cont_select() {
                var sk_cont_ins = '';
                var sk_cont_ids = '';
                if ($("#sk_cls_pop_contact input:checkbox:checked").length > 0) {
                    $('.skchkbx').each(function() {
                        if ($(this).prop('checked') == true) {
                            sk_cont_ins = sk_cont_ins + $(this).val() + ', ';
                            sk_cont_ids = sk_cont_ids + $(this).attr('id') + ', ';
                        }
                    });

                    switch (sk_cursel_contobj) {
                        case 'to_contacts':
                            $("#sk_to_txt").val(sk_cont_ins);
                            $("#sk_to_txt").inputosaurus('refresh');
                            break;
                        case 'cc_contacts':
                            $('[id$="cc"]').val(sk_cont_ids);
                            $("#sk_cc_txt").val(sk_cont_ins);
                            $('#sk_cc_txt').inputosaurus('refresh');
                            break;
                        case 'bcc_contacts':                            
                            $("#sk_bcc_txt").val(sk_cont_ins);
                            $('#sk_bcc_txt').inputosaurus('refresh');

                            break;
                    }
                    close_pop_contact();
                    $('.skchkbx').each(function() {
                        this.checked = false;
                    });
                } else {
                    alert("Please select contact first");
                }

            }

            $('.jqte-test').jqte();

             // settings of status
            var jqteStatus = true;
            $(".status").click(function() {
                jqteStatus = jqteStatus ? false : true;
                $('.jqte-test').jqte({
                    "status": jqteStatus
                })
            });

            $(function() {
                $(".draggable").draggable({
                    handle: 'h1'
                });

                var availableContacts = new Array();
                var sk_i = 0;
                $(".sk_fltr").each(function() {
                    availableContacts[sk_i] = '"' + $(this).children(".fn").text() + '" (' + $(this).children(".fr").text() + ')';
                    sk_i++;
                });

                $('#sk_to_txt').inputosaurus({
                    allowDuplicates: false,
                    width: '95%',
                    autoCompleteSource: availableContacts,
                    activateFinalResult: true
                });

                $('#sk_cc_txt').inputosaurus({
                    allowDuplicates: false,
                    width: '100%',
                    autoCompleteSource: availableContacts,
                    activateFinalResult: true                    
                });

                $('#sk_bcc_txt').inputosaurus({
                    allowDuplicates: false,
                    width: '100%',
                    autoCompleteSource: availableContacts,
                    activateFinalResult: true
                });
            });
        </script>
    </body>
</apex:page>