<apex:page controller="PeerReferencesController" docType="html-5.0"
        showHeader="false" sideBar="false" standardStylesheets="false"
        action="{!init}" cache="false" language="{!selectLanguage}">

<script>
    $(document).ready(function() {
    $(".hideIt").hide();
   });
    if ('{!nextPageUrl}'.trim()) {
        top.location = '{!nextPageUrl}';
    }
    
    // jQuery workarounds to make it work.
    var j$ = jQuery.noConflict();
    j$(function() {      
        j$("[id*='contact_Phone']").keyup(function () { 
        this.value = this.value.replace(/[^0-9\.]/g,'');
        });
        j$("[id$='TRHC__Emergency_Contact_Phone__c']").keyup(function () { 
        this.value = this.value.replace(/[^0-9\.]/g,'');
        });
    });
    function fixId(myid) {
        return '#' + myid.replace(new RegExp("(:|\\.)", "g"), '\\\$1');
    }
</script>
<style>
    <apex:outputText value="{!cmsCssCustom}" />
</style>

<apex:outputPanel layout="block" styleClass="container-fluid" rendered="{!ISNULL(nextPageUrl)}">

    <apex:pageMessages />
    <script>
        j$('[role=alert]').addClass('alert alert-danger');
    </script>

    <ul class="nav nav-tabs nav-justified">
        <li><a href="#" onclick="doRedirect(top.location, { page:'PersonalInformation' }); return false;"><!--{!$Label.trhc__general}--> General ( 1 a )</a></li>
        <li><a href="#" onclick="doRedirect(top.location, { page:'AdditionalInformation' }); return false;"><!--{!$Label.trhc__additional_information}--> Additional information ( 1 b )</a></li>
        <li class="active"><a href="#"><!--{!$Label.Referrals_and_Emergency_Contacts}-->Emergency Contact ( 1 c )</a></li> 
    </ul>
    <div id="hideIt" style="display: none">
    <h2>Candidate Referrals</h2> 
    <p>Please list qualified candidates for employment with altas MedStaff that you are ok with us contacting.</p>
            
    
    <apex:form styleClass="form-horizontal">
        <div class="row placeholders-div referral-form">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="contact_FirstName__c" class="col-sm-4 control-label">{!$Label.TRHC__First_Name}:</label>
                    <div class="col-sm-8">
                        <apex:inputField value="{!referral1.FirstName}" styleClass="form-control" id="contact_FirstName1" html-api-name="FirstName" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"> 
                    <label for="contact_LastName" class="col-sm-4 control-label">{!$Label.TRHC__Last_Name}:</label>
                    <div class="col-sm-8">
                        <apex:inputField value="{!referral1.LastName}" styleClass="form-control" id="contact_LastName1" html-api-name="LastName" />
                    </div>
                </div>
            </div>
            <div class="col-md-4"> 
                <div class="form-group">
                    <label for="contact_Phone" class="col-sm-4 control-label">{!$Label.TRHC__Phone}:</label>
                    <div class="col-sm-8">
                        <apex:inputField value="{!referral1.Phone}" styleClass="form-control" id="contact_Phone1" html-api-name="Phone" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row placeholders-div referral-form">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="contact_FirstName__c" class="col-sm-4 control-label">{!$Label.TRHC__First_Name}:</label>
                    <div class="col-sm-8">
                        <apex:inputField value="{!referral2.FirstName}" styleClass="form-control" id="contact_FirstName2" html-api-name="FirstName" />
                    </div>
                </div>
            </div>
            <div class="col-md-4"> 
                <div class="form-group">
                    <label for="contact_LastName" class="col-sm-4 control-label">{!$Label.TRHC__Last_Name}:</label>
                    <div class="col-sm-8">
                        <apex:inputField value="{!referral2.LastName}" styleClass="form-control" id="contact_LastName2" html-api-name="LastName" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="contact_Phone" class="col-sm-4 control-label">{!$Label.TRHC__Phone}:</label>
                    <div class="col-sm-8">
                        <apex:inputField value="{!referral2.Phone}" styleClass="form-control" id="contact_Phone2" html-api-name="Phone" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row placeholders-div referral-form">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="contact_FirstName__c" class="col-sm-4 control-label">{!$Label.TRHC__First_Name}:</label>
                    <div class="col-sm-8">
                        <apex:inputField value="{!referral3.FirstName}" styleClass="form-control" id="contact_FirstName3" html-api-name="FirstName" />
                    </div>
                </div>
            </div>
            <div class="col-md-4"> 
                <div class="form-group">
                    <label for="contact_LastName" class="col-sm-4 control-label">{!$Label.TRHC__Last_Name}:</label>
                    <div class="col-sm-8">
                        <apex:inputField value="{!referral3.LastName}" styleClass="form-control" id="contact_LastName3" html-api-name="LastName" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="contact_Phone" class="col-sm-4 control-label">{!$Label.TRHC__Phone}:</label>
                    <div class="col-sm-8">
                        <apex:inputField value="{!referral3.Phone}" styleClass="form-control" id="contact_Phone3" html-api-name="Phone" /> 
                    </div>
                </div>
            </div>  
        </div>
    </apex:form>
</div>
    <h2>{!$Label.trhc__emergency_contact}</h2>
    
    <apex:form styleClass="form-horizontal">
        <div class="row">
            <div class="col-md-6"> 
                <div class="form-group">
                    <label for="TRHC__Emergency_Contact_Name__c" class="col-sm-3 control-label">{!$label.TRHC__Emergency_Contact_Name}:</label>
                    <div class="col-sm-9">
                        <apex:inputField value="{!con.TRHC__Emergency_Contact_Name__c}" styleClass="form-control" id="TRHC__Emergency_Contact_Name__c" />
                    </div>
                </div>
            </div> 
            <div class="col-md-6">
                <div class="form-group">
                    <label for="TRHC__Emergency_Contact_Phone__c" class="col-sm-3 control-label">{!$Label.TRHC__Emergency_Contact_Phone}:</label>
                    <div class="col-sm-9">
                        <apex:inputField value="{!con.TRHC__Emergency_Contact_Phone__c}" styleClass="form-control" id="TRHC__Emergency_Contact_Phone__c" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"> 
                <div class="form-group">
                    <label for="TRHC__Emergency_Contact_Relationship__c" class="col-sm-3 control-label">{!$label.TRHC__Relationship_with_Contact_Person}:</label>
                    <div class="col-sm-9">
                        <apex:inputField value="{!con.TRHC__Emergency_Contact_Relationship__c}" styleClass="form-control" id="TRHC__Emergency_Contact_Relationship__c" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Emergency_Con_Address__c" class="col-sm-3 control-label">{!$label.TRHC__Emergency_Contact_Address}:</label>
                    <div class="col-sm-9">
                        <apex:inputField value="{!con.Emergency_Con_Address__c}" styleClass="form-control" id="Emergency_Con_Address__c" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <apex:inputHidden id="referralsJson" value="{!referralsJson}" />
            <apex:commandButton onclick="window.scrollTo(0, 0);parent.scrollTo(0, 0);fillReferralsJson();" 
                    action="{!save}" value="{!$Label.trhc__save_and_next}" styleClass="btn btn-primary" />
            
            <script>
            
                function fillReferralsJson() {
                    var referralsJson = [];
                    
                    var referralForms = j$('.referral-form');
                    referralForms.each(function (indexForm, elemForm) {
                        var formData = {};
                        var $inputs = j$(elemForm).find('input, select, textarea');
                        $inputs.each(function (indexInput, elemInput) {
                            var $elemInput = j$(elemInput);
                            var val = $elemInput.val().trim();
                            if (val) {
                                formData[$elemInput.attr('api-name')] = val;
                            }
                        });
                        
                        if (!j$.isEmptyObject(formData)) {
                            referralsJson.push(formData);
                        }
                    });
                    
                    j$("[id$='referralsJson']").val(JSON.stringify(referralsJson));
                }
            </script>
        </div>
    </apex:form>
</apex:outputPanel>

<script>
    parent.autoResizeIframe(document);
    document.getElementById("your form id").style.display="none";
</script>

<apex:includeScript value="{!URLFOR($Resource.TRHC__Jquerymin)}" />
<apex:includeScript value="{!URLFOR($Resource.TRHC__Bootstrap, 'bootstrap-3.3.6-dist/js/bootstrap.min.js')}"/>
    
<apex:includeScript value="{!URLFOR($Resource.TRHC__doRedirect)}" />

<apex:stylesheet value="{!URLFOR($Resource.TRHC__Bootstrap, 'bootstrap-3.3.6-dist/css/bootstrap.min.css')}" />

</apex:page>